<div class="content">
  <h2>Educação</h2>
  <div id="summary">
    <p>Durante os primeiros anos de luta, os Sem Terra reunidos sob a bandeira do MST tinham como prioridade a conquista da terra. Mas eles logo compreenderam que isso não era o bastante. Se a terra representava a possibilidade de trabalhar, produzir e viver dignamente, faltava-lhes um instrumento fundamental para a comunidade de luta.</p>
    <p>A continuidade a luta exigia conhecimentos tanto para lidar com assuntos práticos, como para entender a conjuntura política econômica e social. Arma de duplo alcance para os Sem Terra, a educação tornou-se prioridade do Movimento.</p>
  </div>
  
  <div id="testimonials">
    <div class="testimonial">
      <p><span class="quote start">"</span>milhares de analfabetos a serem alfabetizados, um número de crianças sem fim pedindo para conhecer as letras, ler o mundo...</p>
    </div>
    <div class="testimonial">
      <p><span class="quote start">"</span>O Brasil ainda possui 14,1 milhões de analfabetos. Um em cada cinco brasileiros é analfabeto funcional</p>
    </div>
  </div>
</div>

