<div class="content">
  <div id="text">
    <h3>Escolas Itinerantes</h3>
    <p>A Escola Itinerante foi criada no âmbito do Movimento Sem Terra, para garantir o direito à educação das crianças, adolescentes, jovens e adultos em situação de itinerância, enquanto estão acampados, lutando pela desapropriação das terras improdutivas e implantação do assentamento. </p>
    <p>É uma escola que está voltada para toda a população acampada, o barraco da escola itinerante, é construído antes do barraco de moradia e tem também a função de se converter em um centro de encontros de toda comunidade acampada.</p>
  </div>

  <div id="gallery">
    <div id="background"></div>
    <div class="swiper-container gallery-top">
        <div class="swiper-wrapper">
            <div class="swiper-slide contain" style="background-image:url({{site.baseurl}}/assets/img/educacao/galeria/1.jpg)"></div>
            <div class="swiper-slide" style="background-image:url({{site.baseurl}}/assets/img/educacao/galeria/2.jpg)"></div>
            <div class="swiper-slide" style="background-image:url({{site.baseurl}}/assets/img/educacao/galeria/3.jpg)"></div>
            <div class="swiper-slide" style="background-image:url({{site.baseurl}}/assets/img/educacao/galeria/4.jpg)"></div>
            <div class="swiper-slide" style="background-image:url({{site.baseurl}}/assets/img/educacao/galeria/5.jpg)"></div>
            <div class="swiper-slide" style="background-image:url({{site.baseurl}}/assets/img/educacao/galeria/6.jpg)"></div>
            <div class="swiper-slide" style="background-image:url({{site.baseurl}}/assets/img/educacao/galeria/7.jpg)"></div>
            <div class="swiper-slide contain" style="background-image:url({{site.baseurl}}/assets/img/educacao/galeria/8.jpg)"></div>
        </div>
        <!-- Add Arrows -->
        <div class="swiper-button-next swiper-button-white"></div>
        <div class="swiper-button-prev swiper-button-white"></div>
    </div>
    <div class="swiper-container gallery-thumbs">
      <div class="swiper-wrapper">
            <div class="swiper-slide" style="background-image:url({{site.baseurl}}/assets/img/educacao/galeria/1.jpg)"></div>
            <div class="swiper-slide" style="background-image:url({{site.baseurl}}/assets/img/educacao/galeria/2.jpg)"></div>
            <div class="swiper-slide" style="background-image:url({{site.baseurl}}/assets/img/educacao/galeria/3.jpg)"></div>
            <div class="swiper-slide" style="background-image:url({{site.baseurl}}/assets/img/educacao/galeria/4.jpg)"></div>
            <div class="swiper-slide" style="background-image:url({{site.baseurl}}/assets/img/educacao/galeria/5.jpg)"></div>
            <div class="swiper-slide" style="background-image:url({{site.baseurl}}/assets/img/educacao/galeria/6.jpg)"></div>
            <div class="swiper-slide" style="background-image:url({{site.baseurl}}/assets/img/educacao/galeria/7.jpg)"></div>
            <div class="swiper-slide" style="background-image:url({{site.baseurl}}/assets/img/educacao/galeria/8.jpg)"></div>
        </div>
    </div>
  </div>

</div>
