---
layout: default
title: Musicoteca
styles: ["playlist.css"]
scripts: ["playlist.js"]
---
<main id="musicoteca">
  <header>

    <div class="content">
      <h2>Musicoteca</h2>
      <div id="summary">
        <p>Mussum ipsum cacilds, vidis litro abertis. Consetis adipiscings elitis. Pra lá , depois divoltis porris, paradis. Paisis, filhis, espiritis santis. Mé faiz elementum girarzis, nisi eros vermeio, in elementis mé pra quem é amistosis quis leo. Manduma pindureta quium dia nois paga. Sapien in monti palavris qui num significa nadis i pareci latim. Interessantiss quisso pudia ce receita de bolis, mais bolis eu num gostis.</p>
        <p>Suco de cevadiss, é um leite divinis, qui tem lupuliz, matis, aguis e fermentis. Interagi no mé, cursus quis, vehicula ac nisi. Aenean vel dui dui. Nullam leo erat, aliquet quis tempus a, posuere ut mi. Ut scelerisque neque et turpis posuere pulvinar pellentesque nibh ullamcorper. Pharetra in mattis molestie, volutpat elementum justo. Aenean ut ante turpis. Pellentesque laoreet mé vel lectus scelerisque interdum cursus velit auctor. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam ac mauris lectus, non scelerisque augue. Aenean justo massa.</p>
      </div>
    </div>

    <nav>
      <ul>
        <li>
          <a href="#albuns">
            Albuns
          </a>
        </li>
        <li>
          <a href="#fitas">
            Fitas Recuperadas
          </a>
        </li>
        <li>
          <a href="#videos">
            Videos
          </a>
        </li>
        <li>
          <a href="#mst-indica">
            Indicamos
          </a>
        </li>
      </ul>
    </nav>

  </header>

  <section id="albuns">
    <h2>
      <a href="albuns/">Albuns</a>
    </h2>
    <ul>
      {% for album in site.musicoteca.albuns | limit: 3 %}
      <li>
        {% include musicoteca/album.html %}
      </li>
      {% endfor %}
    </ul>
    <p class="more">
        <a href="albuns/">Mais albuns...</a>
    </p>
  </section>

  <section id="fitas">
    <h2>Fitas Recuperadas</h2>
    <ul>
      {% for album in site.musicoteca.tape | limit: 3 %}
      <li>
        {% include musicoteca/album.html %}
      </li>
      {% endfor %}
    </ul>
  </section>

  <section id="videos">
    <h2>Vídeos</h2>


    <ul>

      {% for video in site.musicoteca.videos  %}
        <li>
          <iframe width="560" height="315" src="{{ video.video | get_video_embeded }}" frameborder="0" allowfullscreen></iframe>
          <div>
            <h3><a href="{{ video.url }}" title="link para a postagem do video">{{ video.title }}</a></h3>
            <p>

              {{ video.support_line }}
            </p>
          </div>
        </li>
      {% endfor %}
    </ul>
  </section>

  <section id="mst-indica">

    <h2>MST indica</h2>

    <ul>
      {% for partner in site.musicoteca.partners  %}
        <li>
          <a href="{{partner.link}}" title="link para parceiro externo" target="_blank">
            <img src="{{partner.images_hd}}" alt="{{partner.title}}" />
            <br> {{partner.title}}
          </a>
        </li>
      {% endfor %}
    </ul>
  </section>




</main>
