---
layout: default
title: Musicoteca
styles: ["playlist.css"]
---
<main id="musicoteca">
  <header>
    <figure class="icone icone-um">

    </figure>
    <div class="content">
      <div id="summary">
          <p>Na organização social de suas vidas, trabalhadores e trabalhadoras do campo e da cidade criaram símbolos, manifestações artísticas e práticas culturais que representam suas experiências de vida, valores, tradições, utopias. A música e a poesia estiveram presentes desde o início do MST, cumprindo as importantes funções de animação da luta, celebração do trabalho e da vida, elevação do nível de consciência dos acampados e assentados, e também de propagandear o Movimento e a Reforma Agrária para a sociedade.</p>
      </div>
    </div>
    <figure class="icone icone-dois">

    </figure>
  </header>
  <nav>
    <ul>
      <li>
        <a href="#albuns">
          CDs
        </a>
      </li>
      <li>
        <a href="#fitas">
          Fitas
        </a>
      </li>
      <li>
        <a href="#videos">
          Videos
        </a>
      </li>
      <li>
        <a href="#mst-indica">
          Indicamos
        </a>
      </li>
    </ul>
  </nav>


  <section id="albuns">
    <h2>
      <a href="albuns/">CDs</a>
    </h2>
    <ul>
      {% for album in site.musicoteca.albuns | limit: 3 %}
      <li>
        {% include musicoteca/cover-album.html album=album %}
      </li>
      {% endfor %}
    </ul>
    <p class="more">
        <a href="albuns/">Mais...</a>
    </p>
  </section>

  <section id="fitas">
    <h2>
        <a href="fitas/">Fitas</a>
    </h2>
    <ul>
      {% for tape in site.musicoteca.tape | limit: 3 %}
      <li>
        {% include musicoteca/cover-album.html album=tape %}
      </li>
      {% endfor %}
    </ul>
    <p class="more">
        <a href="fitas/">Mais...</a>
    </p>
  </section>

  <section id="videos">
    <h2>
        <a href="videos/">Vídeos</a>
    </h2>
    <ul>
      {% for video in site.musicoteca.videos | limit: 3 %}
        <li>
          <iframe width="560" height="315" src="{{ video.video | get_video_embeded }}" frameborder="0" allowfullscreen></iframe>
          <div>
            <h3><a href="{{ video.url }}" title="link para a postagem do video">{{ video.title }}</a></h3>
            <p>

              {{ video.support_line }}
            </p>
          </div>
        </li>
      {% endfor %}
    </ul>
    <p class="more">
        <a href="videos/">Mais...</a>
    </p>
  </section>
</main>
