/*** uncss> filename: http://0.0.0.0:4000/assets/css/our-production.css ***/

/* Neat 1.7.0
 * http://neat.bourbon.io
 * Copyright 2012-2014 thoughtbot, inc.
 * MIT License */


#our-production #news-production #others-container .ask-us .loading .spinner,
#our-production #settlement .content #gallery .loading .spinner {
  -webkit-animation: rotator 1.4s linear infinite;
  -moz-animation: rotator 1.4s linear infinite;
  animation: rotator 1.4s linear infinite;
}

#our-production #news-production #others-container .ask-us .loading .spinner .path,
#our-production #settlement .content #gallery .loading .spinner .path {
  stroke-dasharray: 187;
  stroke-dashoffset: 0;
  transform-origin: center;
  stroke: #fff;
  -webkit-animation: dash 1.4s ease-in-out infinite;
  -moz-animation: dash 1.4s ease-in-out infinite;
  animation: dash 1.4s ease-in-out infinite;
}

@-webkit-keyframes rotator {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(270deg);
  }
}

@-moz-keyframes rotator {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(270deg);
  }
}

@keyframes rotator {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(270deg);
  }
}

@-webkit-keyframes dash {
  0% {
    stroke-dashoffset: 187;
  }

  50% {
    stroke-dashoffset: 1;
    transform: rotate(135deg);
  }

  100% {
    stroke-dashoffset: 187;
    transform: rotate(450deg);
  }
}

@-moz-keyframes dash {
  0% {
    stroke-dashoffset: 187;
  }

  50% {
    stroke-dashoffset: 1;
    transform: rotate(135deg);
  }

  100% {
    stroke-dashoffset: 187;
    transform: rotate(450deg);
  }
}

@keyframes dash {
  0% {
    stroke-dashoffset: 187;
  }

  50% {
    stroke-dashoffset: 1;
    transform: rotate(135deg);
  }

  100% {
    stroke-dashoffset: 187;
    transform: rotate(450deg);
  }
}

#our-production #news-production #others-container .ask-us .loading .spinner,
#our-production #settlement .content #gallery .loading .spinner {
  -webkit-animation: rotator 1.4s linear infinite;
  -moz-animation: rotator 1.4s linear infinite;
  animation: rotator 1.4s linear infinite;
}

#our-production #news-production #others-container .ask-us .loading .spinner .path,
#our-production #settlement .content #gallery .loading .spinner .path {
  stroke-dasharray: 187;
  stroke-dashoffset: 0;
  transform-origin: center;
  stroke: #fff;
  -webkit-animation: dash 1.4s ease-in-out infinite;
  -moz-animation: dash 1.4s ease-in-out infinite;
  animation: dash 1.4s ease-in-out infinite;
}

@-webkit-keyframes rotator {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(270deg);
  }
}

@-moz-keyframes rotator {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(270deg);
  }
}

@keyframes rotator {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(270deg);
  }
}

@-webkit-keyframes dash {
  0% {
    stroke-dashoffset: 187;
  }

  50% {
    stroke-dashoffset: 1;
    transform: rotate(135deg);
  }

  100% {
    stroke-dashoffset: 187;
    transform: rotate(450deg);
  }
}

@-moz-keyframes dash {
  0% {
    stroke-dashoffset: 187;
  }

  50% {
    stroke-dashoffset: 1;
    transform: rotate(135deg);
  }

  100% {
    stroke-dashoffset: 187;
    transform: rotate(450deg);
  }
}

@keyframes dash {
  0% {
    stroke-dashoffset: 187;
  }

  50% {
    stroke-dashoffset: 1;
    transform: rotate(135deg);
  }

  100% {
    stroke-dashoffset: 187;
    transform: rotate(450deg);
  }
}

#our-production #news-production #others-container .ask-us {
  background-color: darkgreen;
  height: 124px;
  position: relative;
}

#our-production #news-production #others-container .ask-us .content {
  padding-top: 24px;
}

#our-production #news-production #others-container .ask-us .loading {
  width: 45px;
  margin: 0 auto;
  display: none;
}

#our-production #news-production #others-container .ask-us p.message {
  background-color: orange;
  position: relative;
  color: white;
  list-style: none;
  width: 100%;
  text-align: center;
  color: #fff;
  font-size: 14px;
  opacity: 0;
  padding: 8px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  -webkit-transform: translate(0, -20px);
  -moz-transform: translate(0, -20px);
  -ms-transform: translate(0, -20px);
  -o-transform: translate(0, -20px);
  transform: translate(0, -20px);
  -webkit-transition: all 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  -moz-transition: all 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  transition: all 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

#our-production #news-production #others-container .ask-us p.message.error {
  color: white;
  background-color: #961913;
  position: absolute;
  top: 0px;
  height: 24px;
  padding-top: 0px;
}

#our-production #news-production #others-container .ask-us p.message.success {
  position: absolute;
  top: 0px;
  height: 24px;
  padding-top: 0px;
  background-color: #fff;
  color: darkgreen;
}

#our-production #news-production #others-container .ask-us form {
  width: 940px;
  margin: 0 auto;
  display: none;
}

#our-production #news-production #others-container .ask-us form.show {
  display: block;
}

#our-production #news-production #others-container .ask-us form div.form-input {
  float: left;
  margin-right: 10px;
}

#our-production #news-production #others-container .ask-us form label {
  font-weight: 600;
  color: #fff;
  font-style: italic;
  font-size: 26px;
  margin-right: 20px;
  margin-top: 7px;
  float: left;
}

#our-production #news-production #others-container .ask-us form input {
  font-style: italic;
  color: #888888;
  padding: 13px;
  border: solid 1px #fff;
  border-radius: 5px;
  font-size: 15px;
  z-index: 999;
  position: relative;
}

#our-production #news-production #others-container .ask-us form input[type="submit"] {
  border: solid 1px #ebebeb;
  color: #fff;
  background-color: #961913;
  font-style: normal;
  width: 100px;
  float: left;
}

#our-production #news-production #others-container .ask-us form input[name="question"] {
  width: 290px;
}

#our-production #news-production #others-container .ask-us form input[name="email"] {
  width: 200px;
}

#our-production #about .content,
#our-production #highlights .content,
#our-production #news-production > .content,
#our-production #settlement .content {
  max-width: 1020px;
  margin: 0 auto;
}

#our-production #about .content,
#our-production #highlights .content,
#our-production #news-production > .content,
#our-production #settlement .content {
  max-width: 68em;
  margin-left: auto;
  margin-right: auto;
}

#our-production #about .content:after,
#our-production #highlights .content:after,
#our-production #news-production > .content:after,
#our-production #settlement .content:after {
  content: "";
  display: table;
  clear: both;
}

#our-production #highlights .content #infos .info p strong {
  text-shadow: 1px 2px 1px #000000;
  font-family: 'Exo 2';
  color: #ffffff;
  font-weight: 500;
}

#our-production #about .content h2,
#our-production #about .content #summary p,
#our-production #about .content #testimonials h4,
#our-production #highlights .content h5#brasil {
  text-shadow: 1px 2px 4px #000000;
  color: #ffffff;
}

#our-production #about .content #testimonials .testimonial p {
  overflow: hidden;
  text-overflow: ellipsis;
}

#our-production {
  padding: 0;
  width: 100%;
  background-color: #f8f8f9;
}

#our-production #about {
  padding-bottom: 36px;
  overflow: hidden;
  background: url(../img/nossa-producao/background.jpg) no-repeat left top;
  background-size: cover;
  -o-background-size: cover;
  -moz-background-size: cover;
  -webkit-background-size: cover;
}

#our-production #about .content {
  margin-top: 49px;
}

#our-production #about .content h2 {
  font-size: 36px;
  font-style: italic;
}

#our-production #about .content #summary {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 48.82117%;
  overflow: hidden;
  float: left;
}

#our-production #about .content #summary p {
  font: 500 18px / 24px;
  color: #ffffff;
  font-weight: 200;
}

#our-production #about .content #testimonials {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 48.82117%;
  text-align: center;
}

#our-production #about .content #testimonials:last-child {
  margin-right: 0;
}

#our-production #about .content #testimonials h4 {
  font-size: 24px;
  font-weight: 200;
  letter-spacing: 1px;
  text-align: center;
  margin: 0 0 14px 0px;
}

#our-production #about .content #testimonials .testimonial {
  width: 248px;
  height: 191px;
  background: url(../img/nossa-producao/ballon.png) no-repeat left top;
  float: left;
  text-align: center;
  padding: 30px 14px 30px 14px;
}

#our-production #about .content #testimonials .testimonial:first-of-type {
  margin-right: 22px;
}

#our-production #about .content #testimonials .testimonial p {
  font: 700 16px "Exo 2";
  color: #961913;
  height: 93px;
  font-weight: 600;
}

#our-production #about .content #testimonials .testimonial a {
  color: #555555;
  font-weight: 200;
}

#our-production #highlights {
  background-color: #961913;
  width: 100%;
  min-height: 110px;
}

#our-production #highlights .content h5#brasil {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 14.70196%;
  font-size: 60px;
  float: left;
  font-style: italic;
  margin-top: 0;
  margin-bottom: 0;
  min-width: 235px;
  text-align: center;
}

#our-production #highlights .content #infos {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 74.41059%;
}

#our-production #highlights .content #infos:last-child {
  margin-right: 0;
}

#our-production #highlights .content #infos .info {
  text-align: center;
  float: left;
  display: block;
  margin-right: 3.16844%;
  width: 31.22104%;
}

#our-production #highlights .content #infos .info:last-child {
  margin-right: 0;
}

#our-production #highlights .content #infos .info p {
  font-size: 19px;
  color: #da6164;
  margin-top: 7px;
}

#our-production #highlights .content #infos .info p strong {
  margin-bottom: -12px;
  font-size: 37px;
  font-weight: 700;
  display: block;
}

#our-production #news-production {
  padding-top: 0;
  height: 100%;
}

#our-production #news-production section {
  padding-top: 0px;
}

#our-production #news-production .news {
  margin-bottom: 24px;
}

#our-production #news-production .news img {
  float: left;
  margin-right: 10px;
}

#our-production #news-production a {
  font-size: 18px;
  color: #555555;
  line-height: 18px;
  font-weight: 700;
}

#our-production #news-production a span.support-line {
  font-weight: 500;
  display: block;
  font-size: 16px;
}

#our-production #news-production h4 {
  margin: 23px 0 22px 0;
  font-size: 24px;
  color: #555555;
  font-weight: 900;
}

#our-production #news-production > .content {
  border-bottom: solid 1px darkgreen;
}

#our-production #news-production #latest-news {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 23.23176%;
}

#our-production #news-production #latest-news #more-news {
  border-radius: 5px;
  background-color: darkgreen;
  color: #fff;
  widows: 100%;
  text-align: center;
  display: block;
  width: 100%;
  padding: 10px 30px;
  text-decoration: none;
  -webkit-transition: background-color 0.4s ease-out;
  -moz-transition: background-color 0.4s ease-out;
  transition: background-color 0.4s ease-out;
}

#our-production #news-production #latest-news #more-news:hover {
  background-color: #961913;
}

#our-production #news-production #others-container {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 74.41059%;
  border-left: solid 1px #b7b7b7;
  min-height: 572px;
}

#our-production #news-production #others-container:last-child {
  margin-right: 0;
}

#our-production #news-production #others-container #keep-an-eye {
  padding-left: 16px;
  float: left;
  display: block;
  margin-right: 3.16844%;
  width: 42.6842%;
}

#our-production #news-production #others-container #keep-an-eye img {
  display: block;
  margin-bottom: 5px;
  width: 100%;
}

#our-production #news-production #others-container #others {
  float: left;
  display: block;
  margin-right: 3.16844%;
  width: 54.14736%;
  margin-right: 0;
}

#our-production #news-production #others-container .news {
  float: left;
  display: block;
  margin-right: 3.16844%;
  width: 31.22104%;
}

#our-production #news-production #others-container .news:last-child {
  margin-right: 0;
}

#our-production #news-production #others-container .news .support-line {
  font-size: 15px;
  font-weight: 200;
}

#our-production #news-production #others-container .news img {
  width: 100%;
  margin-bottom: 5px;
}

#our-production #news-production #others-container .news a {
  font-size: 15px;
}

#our-production #news-production #others-container .ask-us {
  float: left;
  display: block;
  margin-right: 3.16844%;
  width: 100%;
  min-height: 141px;
  padding-bottom: 10px;
  border-top: solid 1px #b7b7b7;
  background-color: transparent;
  padding-left: 16px;
}

#our-production #news-production #others-container .ask-us:last-child {
  margin-right: 0;
}

#our-production #news-production #others-container .ask-us form .form-input.email {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 40.29137%;
}

#our-production #news-production #others-container .ask-us form .form-input.question {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 40.29137%;
}

#our-production #news-production #others-container .ask-us form {
  width: 100%;
}

#our-production #news-production #others-container .ask-us form input {
  border: solid 1px #b7b7b7;
}

#our-production #news-production #others-container .ask-us form input[type="email"],
#our-production #news-production #others-container .ask-us form input[type="text"] {
  width: 100%;
  margin-right: 0px;
}

#our-production #news-production #others-container .ask-us form input[type="submit"] {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 14.70196%;
  margin-right: 0;
  background-color: darkgreen;
}

#our-production #news-production #others-container .ask-us form label {
  width: auto;
  float: none;
  display: block;
  color: #555555;
  font-style: normal;
  margin-top: 15px;
  margin-bottom: 10px;
}

#our-production #news-production #others-container .ask-us .content {
  padding: 0px;
}

#our-production #settlement .content {
  margin-top: 20px;
  padding-bottom: 70px;
}

#our-production #settlement .content h3 {
  font-size: 34px;
  color: #555555;
  margin-bottom: 34px;
}

#our-production #settlement .content #text {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 40.29137%;
}

#our-production #settlement .content #gallery {
  margin-left: 8.5298%;
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 48.82117%;
  overflow: hidden;
  position: relative;
  margin-top: 17px;
}

#our-production #settlement .content #gallery:last-child {
  margin-right: 0;
}

#our-production #settlement .content #gallery .loading {
  position: absolute;
  top: 31%;
  left: 50%;
  margin-left: -20px;
}

#our-production #settlement .content #gallery .loading .spinner .path {
  stroke: #000;
}

#our-production #settlement .content #gallery figure {
  margin: 0;
  text-align: center;
  position: relative;
  z-index: 999;
  min-height: 421px;
  min-width: 538px;
}

#our-production #settlement .content #gallery figure legend {
  display: block;
  margin: 0 auto;
  margin-top: 12px;
}

#our-production #settlement .content #gallery figure strong {
  display: block;
}

#our-production #settlement .content #gallery #thumbs {
  position: relative;
}

#our-production #settlement .content #gallery #thumbs a.arrow {
  -webkit-transition: all 0.4s ease-out;
  -moz-transition: all 0.4s ease-out;
  transition: all 0.4s ease-out;
  background-color: rgba(255, 255, 255, 0.6);
  display: block;
  width: 60px;
  height: 60px;
  position: absolute;
  z-index: 999;
  margin: 0;
  border-radius: 100%;
  padding-top: 18px;
  top: 12px;
  padding: 19px;
  font-family: 'Glyphicons Halflings Regular', Helvetica, Arial, sans-serif;
  text-decoration: none;
  color: rgba(0, 0, 0, 0.6);
}

#our-production #settlement .content #gallery #thumbs a.arrow:hover {
  background-color: #000;
  color: #fff;
}

#our-production #settlement .content #gallery #thumbs a.arrow.left {
  left: -26px;
  padding-left: 29px;
}

#our-production #settlement .content #gallery #thumbs a.arrow.left:before {
  content: '\E079';
}

#our-production #settlement .content #gallery #thumbs a.arrow.right {
  left: 497px;
  bottom: 11%;
  padding-left: 11px;
}

#our-production #settlement .content #gallery #thumbs a.arrow.right:before {
  content: '\E080';
}

#our-production #settlement .content #gallery #thumbs ul {
  overflow: hidden;
  width: 800px;
  height: 130px;
  margin-top: 24px;
  position: relative;
}

#our-production #settlement .content #gallery #thumbs ul li {
  float: left;
  margin-right: 5px;
  position: relative;
}

#our-production #settlement .content #gallery #thumbs ul li a {
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
  border-bottom: solid 1px #fff;
}

#our-production #settlement .content #gallery #thumbs ul li a img {
  min-width: 129px;
  padding-bottom: 0px;
}

