<h2>Nosso Hino</h2>

<div id="player-wrapper">
  <div id="player"></div>
</div>

<div class="lyrics">

  <img id="marker" src="{{site.baseurl}}/assets/img/nossos-simbolos/people.svg">

  <div>

    <div class="credits">
      Letra: Ademar Bogo
      <br>
      Música: Willy C. de Oliveira
    </div>


    <P>
      <span class="sub" data-start="0:08" data-end="0:13">Vem teçamos a nossa liberdade</span>
      <span class="sub" data-start="0:13" data-end="0:17">braços fortes que rasgam o chão</span>
      <span class="sub" data-start="0:17" data-end="0:21">sob a sombra de nossa valentia</span>
      <span class="sub" data-start="0:21" data-end="0:26">desfraldemos a nossa rebeldia</span>
      <span class="sub" data-start="0:26" data-end="0:32">e plantemos nesta terra como irmãos!</span>
    </P>

    <p>
      <span class="sub" data-start="0:32" data-end="0:34">Vem, lutemos</span>
      <span class="sub" data-start="0:34" data-end="0:36">punho erguido</span>
      <span class="sub" data-start="0:36" data-end="0:40">Nossa força nos faz a edificar</span>
      <span class="sub" data-start="0:40" data-end="0:43">Nossa pátria</span>
      <span class="sub" data-start="0:43" data-end="0:45">livre e forte</span>
      <span class="sub" data-start="0:45" data-end="0:51">construída pelo poder popular</span>
    </p>

    <p>
      <span class="sub" data-start="0:51" data-end="0:55">Braço erguido ditemos nossa história</span>
      <span class="sub" data-start="0:55" data-end="0:59">sufocando com força os opressores</span>
      <span class="sub" data-start="0:59" data-end="1:03">hasteemos a bandeira colorida</span>
      <span class="sub" data-start="1:03" data-end="1:08">despertemos esta pátria adormecida</span>
      <span class="sub" data-start="1:08" data-end="1:14">o amanhã pertence a nós trabalhadores!</span>
    </p>
  </div>

  <div>
    <p>
      <span class="sub" data-start="1:15" data-end="1:17">Vem, lutemos</span>
      <span class="sub" data-start="1:17" data-end="1:19">punho erguido</span>
      <span class="sub" data-start="1:19" data-end="1:23">Nossa força nos faz a edificar</span>
      <span class="sub" data-start="1:23" data-end="1:25">Nossa pátria</span>
      <span class="sub" data-start="1:25" data-end="1:27">livre e forte</span>
      <span class="sub" data-start="1:27" data-end="1:33">construída pelo poder popular</span>
    </p>




    <p>
      <span class="sub" data-start="1:33" data-end="1:37">Nossa força resgatada pela chama</span>
      <span class="sub" data-start="1:37" data-end="1:41">da esperança no triunfo que virá</span>
      <span class="sub" data-start="1:41" data-end="1:45">forjaremos desta luta com certeza</span>
      <span class="sub" data-start="1:45" data-end="1:50">pátria livre operária e camponesa</span>
      <span class="sub" data-start="1:50" data-end="1:57">nossa estrela enfim triunfará!</span>
    </p>

    <p>
      <span class="sub" data-start="1:57" data-end="1:59">Vem, lutemos</span>
      <span class="sub" data-start="1:59" data-end="2:02">punho erguido</span>
      <span class="sub" data-start="2:01" data-end="2:05">Nossa força nos faz a edificar</span>
      <span class="sub" data-start="2:05" data-end="2:07">Nossa pátria</span>
      <span class="sub" data-start="2:07" data-end="2:09">livre e forte</span>
      <span class="sub" data-start="2:09" data-end="2:19">construída pelo poder popular</span>
    </p>
  </div>

</div>
