<div class="container">
  <h2>A Bandeira</h2>
</div>

<div id="flag-wrapper">
  <div id="red-background">
    <div id="flag">
      <div id="circle">
        <img id="text" src="{{site.baseurl}}/assets/img/nossos-simbolos/text.jpg">
        <img id="brasil" src="{{site.baseurl}}/assets/img/nossos-simbolos/brasil.svg">
        <img id="machete" src="{{site.baseurl}}/assets/img/nossos-simbolos/machete.svg">
        <img id="people" src="{{site.baseurl}}/assets/img/nossos-simbolos/people.svg">
      </div>
    </div>
  </div>
</div>
