<div class="container">
  <h2>A Bandeira</h2>
</div>

<div id="flag-wrapper">
  <div id="flag">
    <div id="red-background" class='partial always-highlighted'></div>
    <div id="circle">
      <img id="text" class='partial' src="{{site.baseurl}}/assets/img/nossos-simbolos/text.jpg" alt="Movimento dos Trabalhadores Rurais Sem Terra Brasil">
      <img id="brasil" class='partial' src="{{site.baseurl}}/assets/img/nossos-simbolos/brasil.svg" alt="Mapa do Brasil">
      <img id="machete" class='partial' src="{{site.baseurl}}/assets/img/nossos-simbolos/machete.svg" alt="Machado">
      <img id="people" class='partial' src="{{site.baseurl}}/assets/img/nossos-simbolos/people.svg" alt="Trabalhador e trabalhadora">
    </div>
  </div>
</div>

<ul id="symbols-meaning">

  <li data-for="#text">
    <b>Cor branca:</b> representa a paz, que somente será conquistada quando houver justiça social.
    <br>
    <b>Cor preta:</b> representa nosso luto e a nossa homenagem a todos os trabalhadores e trabalhadoras que tombaram lutando pela nova sociedade.
  </li>

  <li data-for="#red-background">
    <b>Cor vermelha:</b> representa o sangue que corre nas nossa veias e a disposicao de lutar pela reforma agrária, pela transformação da sociedade.
  </li>

  <li data-for="#people">
    <b>Trabalhadora  e Trabalhador:</b> representa  a necessidade da luta ser feita por mulheres e homens, pelas famílias inteiras.
  </li>

  <li data-for="#brasil">
    <b>Mapa do Brasil:</b> representa a luta nacional dos Sem Terra e que a reforma Agrária deve acontecer em todo o país.
    <br>
    <b>Cor verde:</b> representa a nossa esperança de vitória a cada latifundio que conquistamos.
  </li>

  <li data-for="#machete">
    <b>Facão:</b> representa a ferramenta de trabalho, de luta e de resistência. Ele ultrapassa o mapa para indicar que o movimento é internacionalista.
  </li>
</ul>
