{% assign news = site.posts | where: "sector", "mass-front" %}

<div class="container">

  <div>
    <h2>Lona Preta</h2>

    <p>
      A lona preta é mais do que uma barraca, é um rito de passagem, o caminho para a conquista da terra.
    </p>
    <p>
      É símbolo da luta pela Reforma Agrária que as mais de 130 mil famílias acampadas em todo Brasil carregam. A lona preta é o retrato da luta cotidiana do Movimento contra o latifúndio, a segregação e as injustiças sociais que tanto castigam esse país.
    </p>
  </div>

  <div>
    <h3>Fique por dentro</h3>
    {% for post in news | limit: 3 %}
      <div class='news'>
        <a href="{{ site.baseurl }}{{ post.url }}" title="{{ post.title }}">
          <img src="{{ post | find_image: 'hd' }}" />
          <span>{{ post.title }}</span>
        </a>
      </div>
    {% endfor %}

    <a class="more-news" href="{{ site.baseurl }}{{ post.url }}/frente-de-massa/noticias/">Mais notícias</a>
  </div>

</div>
