<div class="content">
  <h2>Quem Somos</h2>
  <div class="quote-content">
    <span class="quote start">"</span>
    <p>
      O Movimento Sem Terra está organizado em 24 estados nas cinco regiões do país. No total, são cerca de 350 mil famílias que conquistaram a terra por meio da luta e da organização dos trabalhadores rurais.
    </p>
    <p>
      Mesmo depois de assentadas, estas famílias permanecem organizadas no MST, pois a conquista da terra é apenas o primeiro passo para a realização da Reforma Agrária.
    </p>
    <span class="quote end">"</span>
  </div>

  <div class="thumb-video">
    <iframe width="100%" height="100%" src="//www.youtube.com/embed/kvKhNUkxfYk?autohide=1&showinfo=0" frameborder="0" allowfullscreen></iframe>
  </div>
</div>
