<div class="content">
  <h2>Quem Somos</h2>
  <div class="quote-content">
    <span class="quote start">"</span>
    <p>
      O Movimento Sem Terra está organizado em 24 estados nas cinco regiões do país. No total, são cerca de 350 mil famílias que conquistaram a terra por meio da luta e da organização dos trabalhadores rurais.
    </p>
    <p>
      Mesmo depois de assentadas, estas famílias permanecem organizadas no MST, pois a conquista da terra é apenas o primeiro passo para a realização da Reforma Agrária.
    </p>
    <span class="quote end">"</span>

    <div id="full-text">
      <p>
        Os latifúndios desapropriados para assentamentos normalmente possuem poucas benfeitorias e infraestrutura, como saneamento, energia elétrica, acesso à cultura e lazer. Por isso, as famílias assentadas seguem organizadas e realizam novas lutas para conquistarem estes direitos básicos.
      </p>
      <p>
        Com esta dimensão nacional, as famílias assentadas e acampadas organizam-se numa estrutura participativa e democrática para tomar as decisões no MST. Nos assentamentos e acampamentos, as famílias organizam-se em núcleos que discutem as necessidades de cada área. Destes núcleos, saem os coordenadores e coordenadoras do assentamento ou do acampamento. A mesma estrutura se repete em nível regional, estadual e nacional. Um aspecto importante é que as instâncias de decisão são orientadas para garantir a participação das mulheres, sempre com dois coordenadores, um homem e uma mulher. E nas assembléias de acampamentos e assentamentos, todos têm direito a voto: adultos, jovens, homens e mulheres.
      </p>
      <p>
        Da mesma forma nas instâncias nacionais. O maior espaço de decisões do MST são os Congressos Nacionais que ocorrem, em média, a cada 5 anos. Além do Congresso, a cada dois anos o MST realiza seu encontro nacional, onde são avaliadas e atualizadas as definições deliberadas no Congresso.
      </p>
      <p>
        Além desses espaços, as famílias também se organizam por setores para encaminharem tarefas específicas, que são organizados desde o nível local até nacionalmente, de acordo com a necessidade e a demanda de cada assentamento, acampamento ou estado.
      </p>
    </div>
    <a class="read-more" href="#full-text">Saiba mais</a>
  </div>


  <div class="thumb-video">
    <iframe width="100%" height="100%" src="//www.youtube.com/embed/kvKhNUkxfYk?autohide=1&showinfo=0" frameborder="0" allowfullscreen></iframe>
  </div>
</div>
