<div class="content">
  <h2>Objetivos</h2>
  <div class="goals">
    <ul class='popover'>

      <li class="goal">
        <a href="#">
          <span class="cut">
            <img src="{{site.baseurl}}/assets/img/quem-somos/luta-pela-terra.png" alt="Luta pela terra" />
          </span>
          Luta pela terra
        </a>

        <!-- Conteudo -->
        <div class="inner-content">
          <span class="arrow-pointer">*</span>
          <p>A luta pela terra é a luta concreta para que as massas se mobilizem. É o primeiro passo e o primeiro objetivo a ser alcançado.</p>
        </div>
        <!--  -->

      </li>

      <li class="goal">
        <a href="#">
          <span class="cut">
          <img src="{{site.baseurl}}/assets/img/quem-somos/luta-pela-reforma-agraria.png" alt="Luta pela reforma agrária" />
          </span>
          Luta pela reforma agrária
        </a>

        <!-- Conteudo -->
        <div class="inner-content">
          <span class="arrow-pointer">*</span>
          <p>A luta pela Reforma Agrária consiste na distribuição massiva de terras a camponeses, democratizando a propriedade da terra na sociedade e garantindo o seu acesso, distribuindo-a a todos que a quiserem fazer produzir e dela usufruir.</p>
        </div>
        <!--  -->
      </li>

      <li class="goal">
        <a href="#">
          <span class="cut">
            <img src="{{site.baseurl}}/assets/img/quem-somos/sociedade-mais-justa.png" alt="Sociedade mais justa" />
          </span>
          Transformação Social
        </a>

        <!-- Conteudo -->
        <div class="inner-content right">
          <span class="arrow-pointer">*</span>
          <p>A luta pela transformação social significa transformações na estrutura da sociedade brasileira e um projeto de desenvolvimento nacional com justiça social. É a luta por uma sociedade mais justa e fraterna, que solucione os graves problemas estruturais do nosso país, como a desigualdade social e de renda, a discriminação de etnia e gênero, a concentração da comunicação, a exploração do trabalhador urbano.</p>
        </div>
        <!--  -->
      </li>
    </ul>
  </div>


  <div class="besides">
    <h4>Além disso...</h4>
    <hr />
    <p>Sabemos que a solução para estes problemas só será possível por meio de um Projeto Popular para o Brasil - fruto da organização e mobilização dos trabalhadores e trabalhadoras. E confiamos que a realização da Reforma Agrária, democratizando o acesso à terra e produzindo alimentos, é nossa contribuição mais efetiva para a realização de um Projeto Popular.</p>
    <p>Por isso, o MST participa também de articulações e organizações que buscam transformar a realidade e garantir estes direitos sociais. Nacionalmente, participamos do Fórum Nacional da Reforma Agrária, da Coordenação dos Movimentos Sociais e de campanhas permanentes ou conjunturais. Internacionalmente, somos parte da Via Campesina, que congrega os movimentos sociais do campo dos cinco continentes.</p>
  </div>
</div>
