#site-header > .cover {
  background-color: $mst-red;
  text-align: initial;
  padding-top: 10px;

  #logo-container {
    padding-bottom: 12px;
  }

  .logo {
    display: inline-block;
    height: 60px;
    margin-right: 11px;
    vertical-align: top;

    img {
      height: 100%;
    }
  }

  h1 {
    display: inline-block;
    text-shadow: 2px 2px 0px black;
    margin-top: 0px;
    margin-bottom: 0px;
    line-height: 60px;
  }

  h2 {
    display: none;
    text-shadow: 2px 2px 0px black;
  }

  .open {
    line-height: 60px;
    padding: 0 30px 0 20px;
    background: none;
    border: none;
    outline: none;
    float: left;
    margin: 0;

    &::after {
      font-family: 'Glyphicons Halflings Regular', Helvetica, Arial, sans-serif;
      content: '\E055';
      text-indent: 0;
      font-size: 2.3em;
      color: white;
      float: left;
    }
  }
}

@media(min-width: $screen-md) {
  #site-header > .cover {
    #logo-container {
      padding-bottom: 0;
    }
    .logo {
      height: 60px;
    }
    .open {
      display: none;
    }

    background-image: url(/assets/img/capa.jpeg);
    background-size: cover;

    height: $logo_height + $padding;

    h1, h2 {
      margin: 0;
      vertical-align: top;
      display: inline-block;
      line-height: $logo_height;
    }

    h1 {
      font-size: 3em;
      font-weight: 600;
      padding: 0 5px;
    }

    h2 {
      font-size: 1.3em;
      font-weight: 400;
      line-height: $logo_height + 5px;
    }

    .logo {
      display: inline-block;
      width: auto;
      height: $logo_height;
    }

    #logo-container{
      width: 1100px;
      margin: 0 auto;
    }

  /*   @media(min-width: \$screen-md) {
    padding: (\$padding / 2)  (100% - \$home_screen_medium)/2;
  }
  @media(max-width: \$screen-sm) {
    padding: (\$padding / 2)  (100% - \$home_screen_small)/2;
  }
  @media(min-width: \$screen-big) {
    padding: (\$padding / 2)  (100% - \$home_screen_big)/2;
  } */
  }
}
