#open-search {
  display: none;
}

#search-form {
  background: #fff;
  border-radius: 5px;
  overflow: hidden;
  text-align: left;
  margin: 0 20px;
  padding: 5px;

  label {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    clip: rect(1px 1px 1px 1px ); /* lt IE 8 */
    clip: rect(1px, 1px, 1px, 1px );
    overflow: hidden;
  }

  button[type=submit] {
    width: 15%;
    display: inline-block;
    background: none;
    border: none;
    color: $mstred;
    font-size: 0.9em;
    padding: 0;
    font-weight: bold;
    text-indent: -9999px;
    position: relative;

    &:before {
      content: "\E003";
      font-family: 'Glyphicons Halflings Regular', Helvetica, Arial, sans-serif;
      display: block;
      width: 100%;
      top: 0;
      outline: 0;
      text-align: right;
    }

    &:focus {
      outline: none;
    }
  }
}

#search {
  width: 82%;
  display: inline-block;
  font-size: 0.9em;
  border-style: none;
  text-indent: 10px;
  border-radius: 5px;
  color: $gray-darker;
  outline: none;

  &:focus {
    outline: none;
    box-shadow: none;
  }
}

@media(min-width: $screen-xs) {
  #search {
    width: 77%;
  }
}
