#open-search {
  display: none;
}

#search-form {
  background: #fff;
  border-radius: 5px;
  overflow: hidden;
  text-align: left;
  margin: 0 20px;
  padding: 5px;

  label {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    clip: rect(1px 1px 1px 1px ); /* lt IE 8 */
    clip: rect(1px, 1px, 1px, 1px );
    overflow: hidden;
  }

  button[type=submit] {
    width: 15%;
    display: inline-block;
    background: none;
    border: none;
    color: $mstred;
    font-size: 0.9em;
    padding: 0;
    font-weight: bold;
    text-indent: -9999px;
    position: relative;

    &:after {
      content: "\E003";
      font-family: 'Glyphicons Halflings Regular', Helvetica, Arial, sans-serif;
      display: block;
      text-indent: 0;
      position: absolute;
      width: 100%;
      top: 0;
      outline: 0;
      text-align: right;
    }

    &:focus {
      outline: none;
    }
  }
}

#search {
  width: 82%;
  display: inline-block;
  font-size: 0.9em;
  border-style: none;
  text-indent: 10px;
  border-radius: 5px;
  color: $gray-darker;
  outline: none;
  
  &:focus {
    outline: none;
    box-shadow: none;
  }
}

@media(min-width: $screen-xs) {
  #search-form {
    display: block;
    width: 50%;
    margin: 0 auto;
  }
}

@media(min-width: $screen-md) {
  #open-search {
    display: inline-block;
    background: #fff;
    color: $mstred;
    border: none;
    padding: 0;
    font-weight: bold;
    text-indent: -9999px;
    position: relative;
    border-radius: 5px;
    line-height: 200%;
    width: 40px;
    float: right;
    margin-left: 10px;
    @include transition(border-radius, 0.2s, ease-in);

    &.active {
      border-radius: 5px 5px 0 0;
    }

    &:focus {
      outline: none;
    }

    &:after {
      content: "\E003";
      font-family: 'Glyphicons Halflings Regular', Helvetica, Arial, sans-serif;
      display: block;
      text-indent: 0;
      position: absolute;
      width: 100%;
      top: 0;
      outline: 0;
      text-align: center;
    }
  }

  #search-form {
    position: absolute;
    margin: 0;
    padding: 0;
    height: 0;
    top: 75%;
    right: 0;
    border-radius: 5px 0 5px 5px;
    opacity: 0;
    @include transition(opacity, 0.2s, ease-in);

    &.open {
      overflow: visible;
      padding: 0.5em;
      height: auto;
      box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
      opacity: 1;
    }

    button[type=submit] {
      border: none;
      color: $mstred;
      font-size: 0.8em;
      padding: 0;
      text-indent: 0;
      font-weight: bold;
      text-transform: uppercase;
      width: 20%;

      &:after {
        content: "";
        display: none;
      }
    }
  }

  #search {
    width: 77%;
  }
}

