<footer>
  <div class="social">
    <h1>Social</h1>
    <ul>
      <li>
        <a class="facebook" href="http://www.facebook.com/MovimentoSemTerra">Facebook</a>
      </li>
      <li>
        <a class="twitter" href="http://twitter.com/#!/MST_Oficial">Twitter</a>
      </li>
      <li>
        <a class="rss" href="http://www.mst.org.br/rss.xml">RSS</a>
      </li>
    </ul>
  </div>

  <div class="links">
    <h1>Links</h1>
    <ul>
      <li>
        <a title="Link externo" target="_blank" href="http://www.mst.org.br/parceiros">Indicamos</a>
      </li>
      <li>
        <a title="Link externo" target="_blank" href="http://www.mst.org.br/fale_conosco">Fale Conosco</a>
      </li>
      <li>
        <a title="Link externo" target="_blank" href="http://www.mst.org.br/assinaturas/jornal">Assine o Jornal Sem Terra</a>
      </li>
      <li>
        <a title="Link externo" target="_blank" href="http://www.mst.org.br/expediente">Expediente</a>
      </li>
    </ul>
  </div>


  <div class="parceiros">
    <h1>Parceiros</h1>
    <ul>
      <li>
        <a href="http://cooperativalaudelina.net/">
          <img src="http://farm4.staticflickr.com/3906/14494572879_ebcc34da02_b.jpg" />
        </a>
      </li>
      <li>
        <a href="http://www.brasildefato.com.br">
          <img src="http://farm6.staticflickr.com/5588/14681224595_ed98aefc58_b.jpg" />
        </a>
      </li>
      <li>
        <a href="http://viacampesina.org/sp/">
          <img src="http://farm6.staticflickr.com/5565/14701124543_2d2206bcc6_b.jpg" />
        </a>
      </li>
      <li>
        <a href="http://www.radioagencianp.com.br/">
          <img src="http://farm4.staticflickr.com/3890/14658242356_8711cb3679_b.jpg" />
        </a>
      </li>
      <li>
        <a href="http://movimientos.org/">
          <img src="http://farm4.staticflickr.com/3896/14680951292_53fbb12484_b.jpg" />
        </a>
      </li>
      <li>
        <a href="http://www.cloc-viacampesina.net/">
          <img src="http://farm4.staticflickr.com/3851/14772755745_d4286bb441_b.jpg" />
        </a>
      </li>
    </ul>
  </div>
  <small>© MST 2014</small>
</footer>
