{% assign default_image = site | extract_image_from_post_tag: include.post %}
{% assign image_cover = include.post | find_image: 'hd' %}

{% if include.thumbnail %}
{% assign image_cover = include.post | find_image: 'hd' %}
{% endif %}
<article class="headline">
  {% if image_cover and image_cover != "" %}

  <a href="{{ site.baseurl }}{{ include.post.url }}">
      <figure
        style="background-image:url('{{ image_cover  }}');"
        alt="Imagem para a noticia: {{ include.post.title }}">
      </figure>
    </a>

    {% else %}
      {% if include.post.video != '' %}

      <a href="{{ site.baseurl }}{{ include.post.url }}">
          <figure
            style="background-image:url('{{ include.post.video_thumbnail }}');"
            alt="Imagem para a noticia: {{ include.post.title }}">
          </figure>
        </a>

      {% else %}
        {% if default_image != '' %}

        <a href="{{ site.baseurl }}{{ include.post.url }}">
            <figure
              style="background-image:url('{{ default_image }}');"
              alt="Imagem para a noticia: {{ include.post.title }}">
            </figure>
          </a>

        {% else %}
          {% assign include.support_line = true %}
        {% endif %}
      {% endif %}
    {% endif %}
  {% if include.show_time %}
    <time datetime="{{ post.date }}">
        {{ post.date | pretty_date }}
    </time>
  {% endif %}
  <h1>
    <a href="{{ site.baseurl  }}{{ include.post.url }}">{{ include.post.title }}</a>
  </h1>
  {% if include.support_line %}
    <p class="support-line">{{ include.post.support_line}}</p>
  {% endif %}
</article>
