<header id="site-header">
  <div class="cover">
    <button class="open" title='Abrir menu mobile'></button>
    <div id ='logo-container'>
      <a href="{{ site.baseurl }}/" class="logo">
        <img alt="Logotipo" src="{{ site.baseurl }}/assets/img/logo.png">
      </a>
      <h1>MST</h1>
      <h2>Movimento dos Trabalhadores Rurais Sem Terra</h2>
    </div>
  </div>
  <nav role="navigation" class='menu'>
    <ul>
      <li class="dropdown">
        <a href="#">O MST</a>
        <ul class="dropdown-menu">
          <li><a href="{{ site.baseurl }}/quem-somos">Quem Somos</a></li>
          <li><a href="{{ site.baseurl }}/nossa-historia">Nossa história</a></li>
          <li><a href="{{ site.baseurl }}/nossos-simbolos">Nossos Símbolos</a></li>
          <li><a href="{{ site.baseurl }}/eu-apoio-o-mst">Eu apoio o MST</a></li>
        </ul>
      </li>

      <li class="dropdown">
        <a href="#">NOSSOS FRUTOS</a>
        <ul class="dropdown-menu">
          <li><a href="{{ site.baseurl }}/nossa-producao">Nossa produção</a></li>
          <li><a href="{{ site.baseurl }}/educacao">Educação</a></li>
        </ul>
      </li>

      <li class="dropdown">
        <a href="#">CULTURA</a>
        <ul class="dropdown-menu">
          <li><a href="//www.youtube.com/channel/UC3C5WLLfrDnNsMR7Z-46eug" target="_blank" >Videoteca</a></li>
          <li><a href="{{ site.baseurla }}/poemas-e-poesia">Poemas e poesias</a></li>
          <li><a href="{{ site.baseurla }}/lutadores-do-povo">Lutadores do povo</a></li>
        </ul>
      </li>

      <li class="dropdown">
      <a href="#">PUBLICAÇÕES</a>
        <ul class="dropdown-menu">
          <li><a href="//issuu.com/paginadomst" target="_blank">Jornal Sem Terra</a></li>
          <li><a href="http://www.reformaagrariaemdados.org.br/biblioteca" target="_blank">Biblioteca virtual</a></li>
        </ul>
      </li>

      <li>
        <a href="{{ site.baseurl }}/especiais">ESPECIAIS</a>
      </li>

      <li class="dropdown">
        <a href="#">EDITORIAS</a>
        <ul class="dropdown-menu">
          <li><a href="{{ site.baseurl }}/agricultura-camponesa">Agricultura camponesa</a></li>
          <li><a href="{{ site.baseurl }}/agronegocio">Agronegócio</a></li>
          <li><a href="{{ site.baseurl }}/direitos-humanos">Direitos Humanos</a></li>
          <li><a href="{{ site.baseurl }}/educacao-cultura-e-comunicacao">Educação, Cultura e Comunicação</a></li>
          <li><a href="{{ site.baseurl }}/lutas-e-mobilizacoes">Lutas e mobilizações</a></li>
          <li><a href="{{ site.baseurl }}/solidariedade-internacional">Solidariedade Internacional</a></li>
          <li><a href="{{ site.baseurl }}/meio-ambiente">Meio Ambiente</a></li>
          <li><a href="{{ site.baseurl }}/projeto-popular">Projeto Popular</a></li>
          <li><a href="{{ site.baseurl }}/reforma-agraria">Reforma Agrária</a></li>
          <li><a href="{{ site.baseurl }}/transgenicos">Transgênicos</a></li>
        </ul>
      </li>

      <li><a href="http://antigo.mst.org.br/semterrinha" target="_blank">SEM TERRINHA</a></li>
    </ul>
  </nav>
</header>
