<div class="search">
  <script>
    (function() {
      var cx = '010277070321442398039:pktocv0wwhs';
      var gcse = document.createElement('script');
      gcse.type = 'text/javascript';
      gcse.async = true;
      gcse.src = (document.location.protocol == 'https:' ? 'https:' : 'http:') +
                '//www.google.com/cse/cse.js?cx=' + cx;
      var s = document.getElementsByTagName('script')[0];
      s.parentNode.insertBefore(gcse, s);
    })();
  </script>
  <gcse:search></gcse:search>
</div>
<script type="text/javascript">
  var search = document.querySelector(".search");
  var logoContainer = document.querySelector("#logo-container");
  search.style.visibility = "hidden";

  var adjustMargin = function(){
    document.querySelector(".search").style.right = (logoContainer.offsetLeft-40) + "px";
    search.style.visibility = "visible"; 
  }
  
  adjustMargin();
  window.onresize = adjustMargin;
</script>