<div>
<a href="http://www.facebook.com/sharer.php?u={{include.article_url | prepend: site.url}}" target="_blank"><img src="{{site.url}}/assets/img/facebook.png" title="Facebook"  alt="Compartilhar no Facebook" style="width: 30px; height: 30px; display: inline"></a>

<a href="http://www.twitter.com/share?url={{include.article_url | prepend: site.url}}" target="_blank"><img src="{{site.url}}/assets/img/twitter.png" title="Twitter"  alt="Compartilhar no Twitter" style="width: 30px; height: 30px; display: inline"></a>
</div>
