<section class="under-construction">
  <h1>Desculpe, esta página está em construção</h1>
  <p>Para acessar este conteúdo no site antigo, clique neste <a href="{{ include.link }}">link</a></p>
  <p>Para ficar por dentro das novidades, siga-nos em nossas redes sociais:</p>
  <div class="facebook">
    <iframe src="//www.facebook.com/plugins/likebox.php?href=https%3A%2F%2Fwww.facebook.com%2FMovimentoSemTerra&amp;width&amp;height=420&amp;colorscheme=light&amp;show_faces=true&amp;header=false&amp;stream=false&amp;show_border=true&amp;appId={{ site.facebook }}" scrolling="no" frameborder="0" style="border:none; overflow:hidden; height:420px;" allowTransparency="true"></iframe>
  </div>
  <div class="twitter">
    <a class="twitter-timeline" href="https://twitter.com/MST_Oficial" data-widget-id="537665516052434945">Tweets do @MST_Oficial.</a>
    <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
  </div>
</section>
