<section class="under-construction">
  <h1>Desculpe, esta página está em construção</h1>
  <p>Para acessar este conteúdo no site antigo, clique neste <a href="{{ include.link }}">link</a></p>
  <p>Para ficar por dentro das novidades, siga-nos em nossas redes sociais:</p>
  <div class="facebook">
    <iframe src="//www.facebook.com/plugins/likebox.php?href=https%3A%2F%2Fwww.facebook.com%2FMovimentoSemTerra&amp;width&amp;height=420&amp;colorscheme=light&amp;show_faces=true&amp;header=false&amp;stream=false&amp;show_border=true&amp;appId={{ site.facebook }}" scrolling="no" frameborder="0" style="border:none; overflow:hidden; height:420px;" allowTransparency="true"></iframe>
  </div>
  {% include twitter.html %}
 </section>
