@import url(http://fonts.googleapis.com/css?family=Exo+2:100,200,500,600,700,800);

@font-face {
  font-family: 'Glyphicons Social Regular';
  src: url('../fonts/glyphicons-social-regular.eot');
  src: url('../fonts/glyphicons-social-regular.eot?#iefix') format('embedded-opentype'),
       url('../fonts/glyphicons-social-regular.woff') format('woff'),
       url('../fonts/glyphicons-social-regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Glyphicons Halflings Regular';
  src: url('../fonts/glyphicons-halflings-regular.eot');
  src: url('../fonts/glyphicons-halflings-regular.eot?#iefix') format('embedded-opentype'),
       url('../fonts/glyphicons-halflings-regular.woff') format('woff'),
       url('../fonts/glyphicons-halflings-regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
