@import "../bourbon/bourbon";
@import "../neat/neat";
@import "_includes/mixins";
@import "_includes/home";
@import "_includes/under_construction";


body > aside {
	display: none;
}

section{
  padding-top: 10px;
  padding-bottom: 50px;
}
