$gray-darker: lighten(#222, 13.5%); // #222
$gray-dark: lighten(#222, 20%);   // #333
$gray: lighten(#222, 33.5%); // #555
$gray-light: lighten(#222, 60%);   // #999
$gray-lighter: lighten(#222, 93.5%); // #eee

$brand-primary: #DA251C;
$mstgreen: darkgreen;
$mstred: #961913;
$body-bg: white;

$link-hover-color: darken($mstred, 20%);
$link-color: $mstred;

$text-color: $gray-dark;
$font-size-base: 16px;

$font-family-base: "Helvetica Neue", Helvetica, Arial, sans-serif;
$line-height-base: 1.428571429;

$screen-xs: 480px;
$screen-sm: 768px;
$screen-md: 992px;
$screen-big: 1400px;

$border: 1px solid #ddd;
$border-flat: 2px dotted #999;
