$gray-darker: lighten(#222, 13.5%); // #222
$gray-dark: lighten(#222, 20%);   // #333
$gray: lighten(#222, 33.5%); // #555
$gray-light: lighten(#222, 60%);   // #999
$gray-lighter: lighten(#222, 93.5%); // #eee

$brand-primary: #DA251C;
$mst-green: darkgreen;
$mst-red: #961913;
$mst-light-gray: #e3e2e2;
$mst-medium-gray: #A3A3AB;
$mst-dark-gray: #555;
$body-bg: white;

$link-hover-color: lighten($mst-green, 5%);
$link-color: $mst-green;

$text-color: $gray-dark;
$font-size-base: 16px;

$font-family-base: 'Exo 2', Helvetica, Arial, sans-serif;

$line-height-base: 1.428571429;

$padding-mobile: 5%;

$screen-xs: 480px;
$screen-sm: 768px;
$screen-md: 1090px;
$screen-big: 1400px;

/* breakpoints */

$desktop: new-breakpoint(min-width $screen-sm);
$tablet: new-breakpoint(min-width $screen-sm);
$mobile: new-breakpoint(max-width $screen-sm);

$home_screen_big: 65%;
$home_screen_medium: 85%;
$home_screen_small: 100%;

$border: 1px solid #ddd;
$border-flat: 2px dotted #999;

