section.banners {
  @extend .featured-news;
  display: none;

  @media (min-width: $screen-sm) {
    display: inline-block;
    width: 50%;
    min-width: 560px;

    figure {
      box-shadow: none;
      width: 260px;
      height: 260px;
      
      img {
        width: 200px;
      }

      &:after {
        background: none;  
      }
    }

    & > ul > li {
      padding: 0 0 20px 0;
      text-align: center;
    }
  }
}
