body > main.home > section.carousel{
  padding-bottom: 0;
  &[data-index="0"] .container > ul > li:first-child { margin-left: 0; }
  &[data-index="1"] .container > ul > li:first-child { margin-left: -378px; }
  &[data-index="2"] .container > ul > li:first-child { margin-left: -756px; }
  &[data-index="3"] .container > ul > li:first-child { margin-left:-1134px; }
  &[data-index="4"] .container > ul > li:first-child { margin-left:-1512px; }

  .container{
    position: relative;
    width: 100%;
    max-width: 450px;
    height: 250px;
    padding: 0;
    overflow: hidden;

    & > ul > li:first-child {
      -webkit-transition: margin-left 0.5s ease;
      -moz-transition: margin-left 0.5s ease;
      -o-transition: margin-left 0.5s ease;
      transition: margin-left 0.5s ease;
    }

    & > a[data-direction="-1"],
    & > a[data-direction="1"] {
      position: absolute;
      top: 50%;
      width: 60px;
      height: 60px;
      line-height: 60px;
      margin-top: -30px;
      z-index: 2;
      font-size: 1.1em;
      font-family: 'Glyphicons Halflings Regular', Helvetica, Arial, sans-serif;
      color: rgba(0, 0, 0, 0.6);
      background-color: rgba(255, 255, 255, 0.6);
      border-radius: 100%;
      -webkit-transition: all 0.5s ease;
      -moz-transition: all 0.5s ease;
      -o-transition: all 0.5s ease;
      transition: all 0.5s ease;

      &:hover {
        text-decoration: none;
        background-color: rgba(0, 0, 0, 1);
        color: white;
      }
    }

    & > a[data-direction="-1"] {
      text-align: right;
      margin-left: -30px;
      padding-right: 10px;

      &:before {
        content: '\E079';
      }
    }

    & > a[data-direction="1"] {
      right: 0;
      text-align: left;
      margin-right: -30px;
      padding-left: 10px;
       &:before {
         content: '\E080';
       }
    }

    ul {
      width: 100%;
      height: 100%;
      margin: 0;
      padding: 0;
      list-style: none;
      white-space: nowrap;
      overflow: hidden;

      li {
        display: inline-block;
        height: 100%;

        & + li {
          margin-left: 3px;
        }
      }
    }

    @media(min-width: $screen-sm) {
      width: 100%;
      height: 300px;
      max-width: 100%;

      & > ul > li {
        figure {
          max-width: 100%;
          width: 450px;
        }
      }

      &[data-index="0"] .container > ul > li:first-child { margin-left: 0; }
      &[data-index="1"] .container > ul > li:first-child { margin-left: -458px; }
      &[data-index="2"] .container > ul > li:first-child { margin-left: -916px; }
      &[data-index="3"] .container > ul > li:first-child { margin-left:-1374px; }
      &[data-index="4"] .container > ul > li:first-child { margin-left:-1832px; }

      @media(min-width: $screen-md) {
        width: 450px;
        float: left;

      }
    }
  }
  @media(min-width: $screen-sm) {
    &[data-index="0"] .container > ul > li:first-child { margin-left: 0; }
    &[data-index="1"] .container > ul > li:first-child { margin-left: -458px; }
    &[data-index="2"] .container > ul > li:first-child { margin-left: -916px; }
    &[data-index="3"] .container > ul > li:first-child { margin-left:-1374px; }
    &[data-index="4"] .container > ul > li:first-child { margin-left:-1832px; }
  }
}
