body > main.home > section.cover {
  padding: 0;
  padding-top: 15px;

  & > article.headline {
    & > h1 {
      font-size: 1.8em;
      margin-bottom: 10px;
      margin-top: 0;
      font-weight: bold;
    }

    & > p {
      font-size: 1em;
    }
  }

  @media (min-width: $screen-md) {
    padding: 0;
    padding-left: 470px;
  }
}
