section.debate {
  border-top: 1px solid;
  width: 100%;
  clear: left;

  img {
    width: 100%;
  }

  & > ul {
    padding-left: 20px;
    list-style-type: square;

    h1 {
      margin-top: 15px;
      font-size: 1em;
      font-weight: normal;
    }
  }

  @media(min-width: $screen-sm) { 
    width: 60%;
    border: none;
    padding-left: 0;
  }
}
