section.featured-banner {
  display: none;

  @media (min-width: $screen-sm) {
    figure {
      float: none;
      height: 260px;
      width: 100%;
      max-width: 260px !important;
      margin: 0;

      &:after{
        background: none;
      }
    }
  }
}
