section.featured-banner {
  display: none;

  @media (min-width: $screen-sm) {
    margin-bottom: 7px;
    clear: both;
    display: inline-block;
	  width: 32%;
	  padding-left: 0;
	  padding-right: 0;
	
    figure {
      float: none;
      height: 260px;
      max-width: 260px;
      margin: 0;
    }

    figure:after {
      background: none;
    }

    & > h2.hat {
      margin-bottom: 10px;
    }

    ul {
      li {
        float: right;
        width: 100%;
        padding-right: 2%;

        & + li {
          padding-left: 2%;
        }

        &:last-child {
          padding-right: 0;
        }
      }
    }
  }

}
