body > main.home > section.lollipop {
  display: none;

  @media (min-width: $screen-md) {
    display: block;
    font-size: 1.4em;
    padding-top: 0;
    padding-bottom: 25px;

    span {
      background-color: $mst-red;
      display: inline;
      padding: .2em .6em .3em;
      font-size: 75%;
      font-weight: 700;
      line-height: 1;
      color: #fff;
      text-align: center;
      white-space: nowrap;
      vertical-align: baseline;
      border-radius: .25em;
    }
  }
}
