section.newspaper {
  @extend .banners;
  float: left;
  width: auto;
  min-width: 0;

  figure {
    border: 2px dashed #AAA;
  }
}

section.facebook {
  float: left;
  margin-left: 30px;
  display: inline-block;
}
