section.recent {
  padding-bottom: 10px;

  & > p {
    margin: 0;
    padding-top: 0.2em;
    display: block;
    text-align: right;
    font-weight: bold;
    clear: both;

    a {
      color: #006400;
    }
  }

  article.headline {
    & > h1 {
      border-top: 1px solid #dddddd;
      padding-top: 10px;
      font-size: 1.3em;
      margin-bottom: 10px;
    }

    & > p {
      font-size: 0.8em;
    }
  }

  ul {
    padding-left: 20px;
    list-style-type: square;

    li {
      line-height: 12pt;
      margin-bottom: 5px;

      article.headline > h1 {
        font-size: 1em;
        border: none;
        padding-top: 0;
      }
    }
  }

  @media (min-width: $screen-md) {
    padding-left: 470px;
  }
}
