section.recent {
  padding-bottom: 10px;

  & > p {
    margin: 0;
    padding-top: 0.2em;
    display: block;
    text-align: right;
    font-weight: bold;
    clear: both;

    a {
      color: #006400;
    }
  }

  article.headline {
    & > h1 {
      border-top: 1px solid #dddddd;
      padding-top: 10px;
      font-size: 1.3em;
      margin-bottom: 10px;
    }

    & > p {
      font-size: 0.8em;
    }
  }

  @media (min-width: $screen-md) {
    padding-left: 470px;
  }
}
