section.section-zero, section.section-one, section.section-two, section.section-three {
  clear: both;
  display: block;
  padding-bottom: 15px;
  overflow: auto;

  @media(min-width: $screen-sm) { 
    padding-top: 15px;
    border-top: $border-flat;
  }
}

