section.special-stories {
  .headline-text-over-image figure{
    width: 100%;
  }

  @media(min-width: $screen-sm) { 
    a > figure {
      max-width: 90%;
      width: 90%;
      height: 400px;
    }
  }
}
