section.special-stories {
  figure{
    width: 100%;
    height: 250px;

    & > img {
      width: 100%;
    }
  }

  @media(min-width: $screen-sm) { 
    figure {
      width: 100%;
      height: 400px;

      & > img {
        width: 100%;
      }
    }
  }
}
