section.tv-mst {
  @media(min-width: $screen-sm) {
    & > article.headline {
      h1 {
        font-size: 1.3em;
        max-width: 100%;
      }

      figure {
        height: auto;
        max-height: 300px;
        max-width: 100%;

        iframe {
          height: 300px;
        }
      }
    }
  }
}
