---
---

@import "../bourbon/bourbon";
@import "../neat/neat";
@import "variables";
@import "_includes/ask-us";


.inner-content-default{
  border: solid 1px #fff;
  border-top: none;
  text-align: left;
  overflow: hidden;
  padding: 28px;
  padding-bottom: 0;
  padding-top: 0;
  max-height: 0;
  @include transition(max-height .8s ease-out);

  p{
    padding: 0;
  }
  .arrow-pointer{
    display: none;
  }

  h4{
    font-size: 16px;
  }


  @include media($desktop) {
    background-color: #fff;
    opacity: 0;
    max-height: auto;
    border: solid 1px #006400;
    top: 0px;
    left: 105%;
    width: 140%;
    position: absolute;
    height: auto;

    @include prefixer(box-shadow, 0 0 10px #111, webkit moz ms spec);
    @include transition(opacity 0.4s cubic-bezier(0.175, 0.885, 0.320, 1.275));

    .arrow-pointer{
      display: block;
      text-indent: -9990px;
      width: 11px;
      height: 19px;
      position: absolute;
      left: -11px;
      top: 22px;
      background: transparent url(../img/quem-somos/arrow-pointer.png) no-repeat left top;
    }
  }

}

.inner-content-opened{
  padding-top: 0px;
  max-height: 600px; //HACK to animate height
  overflow: hidden;

  @include media($desktop) {
    max-height: auto;
    overflow: visible;
    opacity: 1;
    &.bottom{
      top: -220px;
      min-height: 290px;

      .arrow-pointer{
        top: 245px;
      }
      &.last{
        top: -260px;
        .arrow-pointer{
          top: 284px;
        }
      }
    }
  }
}


.inner-content-opened-right{
  @include media($desktop) {
    left: -144%;
    .arrow-pointer{
      text-indent: -9990px;
      width: 11px;
      height: 19px;
      position: absolute;
      left: auto;
      right: -10px;
      background: transparent url(../img/quem-somos/arrow-pointer-right.png) no-repeat left top;
    }
  }
}

// END EXTENDS


main.about-us {
  width: 100%;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-left: 0px;

  section {
    border-bottom: solid 1px #006400;

    h2, h3 {
      font-weight: 500;
    }

    h2 {
      font-size: 36px;
      margin-top: 0px;
      font-style: italic;
    }

    h3 {
      font-size: 18px;
    }

    .content{
      @include outer-container;
      padding: 42px 10px 38px 10px;

      @include media($desktop) {
        padding: 42px 0px 38px 0px;
      }

      h2{
        margin-bottom: 40px;
      }
    }

    &.begin {
      overflow: hidden;

      & > .content{
        padding-top: 0px;
        & > h2{
          margin-top: 0px;
        }
      }

      .quote-content {
        @include span-columns(12);
        margin-bottom: 30px;

        @include media($desktop) {
          @include span-columns(8);
        }

        p{
          margin-left: 43px;
           margin-top: 12px;
           padding-right: 20px;
        }

        .quote{
          width: 30px;
          height: 30px;
          display: inline-block;
          text-indent: -9999px;

          &.start{
            float: left;
            background: transparent url(../img/quem-somos/quote-a.jpg) no-repeat left top;
          }

          &.end{
            background: transparent url(../img/quem-somos/quote-b.jpg) no-repeat right bottom;
            float: right;
            margin-top:  -30px;
          }

        }

        #full-text {
          display: none;
          background-color: #F7F7F7;
          padding: 20px 0;
          margin: 40px 0;
        }
      }

      .thumb-video {
        @include span-columns(12);
        height: 330px;
        text-align: center;

        @include media($desktop) {
          @include span-columns(4);

          iframe{
            width: 320px;
            height: 215px;
          }
          height: auto;
        }

        .btn-show-video{
          display: inline-block;
          background-color: #006400;
          color: #fff;
          width: 100%;
          padding: 8px;
          border-radius: 5px;
        }
      }
    }

    &.organization{
      background-color: #f8f8f9;
      overflow: hidden;

      & .content > div{
        background-color: #fff;
        text-align: center;
        border: solid 1px #ebebeb;
        @include span-columns(12);

        @include media($desktop) {
          @include span-columns(4);
        }

        & > h3{
          padding: 18px;
          color: #006400;
          border-bottom: solid 2px #006400;
          font-size: 20px;
        }

        p{
          padding: 0 20px 0px 20px;
          text-align: left;
        }
      }

      .list{
        ul {
          margin-bottom: 0;
        }

        li{
          display: block;
          border-bottom: solid 1px #e3e2e2;
          font-size: 16px;
          width: 100%;
          position: relative;
          z-index: 500;
          .down-icon{
            float: left;
            @include transition(transform .8s ease-out);
            @include media($desktop) {
              display: none;
            }
          }

          .down-icon{
            float: left;
            @include transition(transform .8s ease-out);
            @include media($desktop) {
              display: none;
            }
          }

          &:last-child {
            border-bottom: none;
          }

          .inner-content{
            @extend .inner-content-default;
          }

          @include media($desktop) {
            &:hover{
              background-color: #ebebeb;
            }
          }
          &.open{
            @include media($desktop) {
               background-color: #ebebeb;
                z-index: 900;
              a{
                border-left: solid 11px #006400;
                border-right: solid 1px #006400;
              }
            }

            .down-icon{
              @include transform(rotate(180deg));
            }

            .inner-content{
              @extend .inner-content-opened;
            }

          }

          a{
            border-left: solid 0px #006400;
            font-size: 16px;
            color: #555555;
            padding: 21px;
            display: block;
            text-decoration: none;
          }
        }
      }
      .mystic{
        padding-bottom: 15px;

        p{
          text-align: left;
          padding-right: 20px;
          padding-left: 20px;
        }

        img {
          margin-bottom: 10px;
          width: 100%;
        }
      }
      .fight-ways.list{
        ul li{
          a{
            border-left: none;
            border-right: solid 0px #006400;
          }

          &.open{
            @include media($desktop) {
              a{
                border-right: solid 11px #006400;
              }
            }
          }

          .inner-content{
            @extend .inner-content-opened-right;
          }

        }
      }
    }
    // END ORGANIZATION

    &#objectives{
      .goals{
        @include span-columns(12);
        margin-bottom: 0;
        ul.popover{
          // position: relative;
          text-align: center;
          li{
            margin-bottom: 50px;
            position: relative;
            @include media($desktop){
              @include span-columns(4);
              margin-bottom: 0px;
            }
            .inner-content{
              @extend .inner-content-default;

              p{
                margin-bottom: 0px;
              }

              @include media($desktop){
                width: 300px;
                z-index: 999;
                padding: 20px;
                position: absolute;
                left: 76%;
                top: 30px;
                &.right{
                  left: -65%;
                }
              }
            }
            &.open{
              .inner-content{
                @extend .inner-content-opened;
                padding: 20px;
                &.right{
                  @extend .inner-content-opened-right;
                  left: -65%;
                }

              }
            }
            a{
              font-size: 20px;
              font-weight: bold;
              text-decoration: none;
              @include transition(all .5s ease-out);

              span.cut {
                margin: 0 auto 10px auto;
                width: 148px;
                height: 148px;
                overflow: hidden;
                border-radius: 74px;
                display: block;
                border: solid 4px $mst-red;
                @include transition(all .5s ease-out);
                img{
                  margin-left: -4px;
                  margin-top: -2px;
                }
              }

              &:hover{
                color: $mst-red;
                span.cut{
                  border: solid 4px red;
                }
              }
            }
          }
        }
      }

      .besides{
        @include span-columns(12);

        h4{
          text-align: center;
          color: #036603;
          font-size: 30px;
          margin-bottom: 10px;
        }

        hr{
          border: 0;
          height: 2px;
          width: 85%;
          margin-bottom: 30px;
          @include background-image(linear-gradient(left, rgba(0,0,0,0), rgba(150,15,19,0.75), rgba(0,0,0,0)));
        }
      }
  }

    &.flags{

      background-color: #f8f8f9;

      #tabs-container{
        border: solid 2px #ebebeb;
        background-color: #ffffff;
        overflow: hidden;

        .resp-tabs-container{
          @include outer-container();
          padding: 20px;

          label{
            font-weight: bold;
            font-size: 20px;
            margin-bottom: 10px;
            display: block;
            margin-left: 2px;
            @include media($desktop){
              display: none;
            }
          }
          select {
            width: 100%;
            margin-bottom: 25px;
            padding: 5px;
            border: solid 1px #ebebeb;
            height: 49px;
            font-size: 16px;
            border-radius: 5px;
            @include media($desktop){
              display: none;
            }
          }
        }
        .tab{
          @include fill-parent();
          display: none;
          min-height: 400px;

          &.show{
            display: block;
          }

          .text-content{
            @include span-columns(12);
            @include media($desktop){
              @include span-columns(6);
            }
          }

          figure{
            @include media($desktop){
              @include span-columns(6);
            }
            margin:0;
            img{
              width: 100%;
              margin-bottom: 20px;
            }
          }

        }
      }

      ul.resp-tabs-list{
        display: none;

        @include media($desktop){
          display: block;
        }
        height: 95px;
        width: 1180px;
        li{
          @include transition(all, .4s, ease-out);

          background-color: #f8f8f9;
          text-align: center;
          border-right: solid 2px #ebebeb;
          border-bottom: solid 2px #ebebeb;
          color: #036603;
          font-weight: bold;
          padding: 3px;
          display: table;
          float: left;
          width: 121px;
          height: 93px;

          &.selected{
            background-color: #ffffff;
            border-bottom: solid 2px #ffffff;
          }

          a{
            display: table-cell;
            vertical-align: middle;
            text-align: center;
            line-height: 110%;
            text-decoration: none;
            font-size: 13px;

            span{
              width: 100px;
              margin: 14px auto 8px auto;
              display: block;
            }
          }
        }
      }
    }

    &.ask-us {
      .content {
        padding-bottom: 0;
      }
    }
  }
}
