---
---

@import "../bourbon/bourbon";
@import "../neat/neat";
@import "../_sass/variables";
@import "../_sass/_includes/mixins";

@font-face {
    font-family: FeiraFont;
    src: url(/assets/fonts/feira-2017/TragicMarker.otf);
}



#cbxTitle {
	background-color: rgba(0,0,0,0.5);
	color: #fff;
}


.coletanea {
  margin: 0;
  width: 100vw;
  height: 100%;
	min-height: 100vh;
  background-color: #212124;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;

  header {
    color: white;
    border-bottom: 1px solid #383838;
    margin-bottom: 30px;
    padding-bottom: 10px;
  }

  header h1 {
    font-family: FeiraFont;
    text-align: center;
    font-size: 5em;
  }
}
