---
---

@import "../bourbon/bourbon";
@import "../neat/neat";
@import "../_sass/variables";

@font-face {
    font-family: FestivalFontLight;
    src: url(/assets/fonts/festival/Antonio-Light.ttf);
}
@font-face {
    font-family: EspecialFontLight;
    src: url(/assets/fonts/festival/WCManoNegraBta_835513655.otf);
}
@font-face {
    font-family: EspecialFontBold;
    src: url(/assets/fonts/festival/WCManoNegraBta-Bold_3698615530.otf);
}

#site-header, .search, body > footer {
  display: none;
}

.festival {
  height: 100vh;
  width: 100vw;
  max-width: 100%;
  display: flex;
  justify-content: space-between;

  background-image: url(/assets/img/festival/background-left.jpg), url(/assets/img/festival/background-right.jpg);
  background-position: left bottom, right bottom;
  background-repeat: no-repeat;

  img {
    width: 100%;
  }
  figure {
    margin: 0;
  }
}// .festival

.festival .capa {
  height: 100%;
  img {
    height: 100%;
  }
}

.festival .informacoes {
  align-self: flex-start;
  display: flex;
  flex-direction: column;
  height: 100vh;
  padding: 0;

  span {
    font-family: EspecialFontLight;
  }
}// .festival .informacoes {

.festival .informacoes .letreiro{
  max-width: 500px;
  align-self: center;
  text-align: center;

  h1 {
    font-family: EspecialFontBold;
    font-size: 4em;
    margin: 0;
    word-spacing: 0.2em;
    letter-spacing: 2px;
  }
  h2 {
    font-family: FestivalFontLight;
    font-size: 1.5em;
    text-transform: uppercase;
    margin: 0;
  }
  h3 {
    font-family: EspecialFontLight;
    font-size: 1.4em;
    margin: 0;
  }
}// .festival .informacoes .letreiro{

.festival .informacoes .mostras {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 750px;

  img {
    max-width: 280px;
  }
} // .festival .informacoes .mostras{

.festival .informacoes .feira {
  font-size: 2em;

}// .festival .informacoes .feira {

.festival .informacoes .frase {
  span {
    margin-top: 50px;
    width: 100%;
    text-align: center;
    display: inline-block;
    line-height: 0.9em;
    font-size: 3.5em;
  }
}// .festival .informacoes .frase {

.festival .informacoes .inscricao {
  align-self: center;
  display: flex;
  padding: 0;
  margin-top: auto;
  width: 100%;
  justify-content: space-around;
  letter-spacing: 5px;

  h1 {
    font-size: 2em;
    font-family: FestivalFontLight;
    color: white;
    letter-spacing: initial;
    text-shadow: 3px 0px 2px rgba(61, 61, 61, 0.7);
  }

  a:hover, a:focus {
    color: white;
    text-decoration: underline;
  }

  .poesia {
   background-color: rgba(228,148,118,1);
  }

  .musica {
   background-color: rgba(159,138,159,1);
  }

  .poesia, .musica {
    font-size: 1.3em;
    padding: 12px;
    -webkit-box-shadow: 4px 2px 13px 0px rgba(50, 50, 50, 0.75);
    -moz-box-shadow:    4px 2px 13px 0px rgba(50, 50, 50, 0.75);
    box-shadow:         4px 2px 13px 0px rgba(50, 50, 50, 0.75);
  }
}// .festival .informacoes .inscricao {
