---
---

@import "../bourbon/bourbon";
@import "../neat/neat";
@import "../_sass/variables";

@font-face {
    font-family: FestivalFontLight;
    src: url(/assets/fonts/festival/Antonio-Light.ttf);
}
@font-face {
    font-family: EspecialFontLight;
    src: url(/assets/fonts/festival/WCManoNegraBta_835513655.otf);
}

#site-header, .search, body > footer {
  display: none;
}

.festival {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: space-between;

  img {
    width: 100%;
  }
  figure {
    margin: 0;
  }
}// .festival

.festival .capa {
  height: 100%;
  img {
    height: 100%;
  }
}

.festival .informacoes {
  align-self: flex-start;
  display: flex;
  flex-direction: column;
  height: 100vh;
  padding: 0;

  span {
    font-family: EspecialFontLight;
  }
}// .festival .informacoes {

.festival .informacoes .letreiro{
  max-width: 500px;
  align-self: center;
}// .festival .informacoes .letreiro{

.festival .informacoes .mostras {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 750px;

  img {
    max-width: 280px;
  }
} // .festival .informacoes .mostras{

.festival .informacoes .feira {
  font-size: 2em;

}// .festival .informacoes .feira {

.festival .informacoes .frase {
  span {
    margin-top: 50px;
    width: 100%;
    text-align: center;
    display: inline-block;
    line-height: 0.9em;
    font-size: 3.5em;
  }
}// .festival .informacoes .frase {

.festival .informacoes .inscricao {
  align-self: center;
  padding: 0;
  margin-top: auto;
  h1 {
    font-size: 2em;
    font-family: FestivalFontLight;
  }
}// .festival .informacoes .inscricao {
