.jornadas-mulheres-2017 .main-picture {
  background-image: url(//farm1.staticflickr.com/739/32247259564_d55a84cc80_b.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: space-between;
}

.jornadas-mulheres-2017 .responsive-image {
  width: auto;
  align-self: flex-end;
}

.jornadas-mulheres-2017 .responsive-image.mulheres {
  background-image: url(/assets/img/jornadas-mulheres-2017/mulheres-2017.png);
  background-repeat: no-repeat;
  background-size: cover;
  width: auto;
  height: 100%;
  max-height: 640px;
}

.jornadas-mulheres-2017 .responsive-image.logo {
  align-self: flex-start;
  max-width: 500px;
}
