---
---

@import "../bourbon/bourbon";
@import "../neat/neat";
@import "../_sass/variables";




//EXTENDS

.center{
  max-width: 1020px;
  margin: 0 auto;
}

.default-container{
  @include outer-container;
  @extend .center;
}
.text-with-shadow{
  text-shadow: 1px 2px 1px #000000;
  font-family: 'Exo 2';
  color: #ffffff;
  font-weight: 500;
}

.title-with-shadow{
  text-shadow: 1px 2px 4px #000000;
  color: #ffffff;
}

.truncate {
  overflow: hidden;
  text-overflow: ellipsis;
}
//END

.jornadas {
  .header.description{
    h1 {
      text-align: center;
    }

    .cover {
      background-color: black;
      max-width: none;
      box-shadow: none;
      display: flex;
      justify-content: center;
      margin-bottom: 15px;
    }
  }

  .youtube-playlist, .album-de-fotos-abril {
    background-color: #E1D7CC;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    margin-top: 15px;
  }

  .header-title {
    text-transform: uppercase;
    font-size: 2.7em;
    margin: 0;
  }

  .big-content {
    font-size: 1.8em;
    line-height: 1.6;
    margin: 20px 0;
  }

  .big-text article {
    line-height: 1.7;
    font-size: 1.1em;
    letter-spacing: 1px;
  }

  .big-header {
    width: 100%;
    text-align: center;
    display: block;
    font-weight: bold;
    margin: 20px 0;
    border-bottom: 1px solid rgba(50,50,50, 0.15);
    padding-bottom: 20px;
  }

  @include media($mobile){
    .big-content {
      font-size: 1.4em;
    }

    .description {
      padding-left: 20px;
      padding-right: 20px;
    }
  }

  .infografico {
    text-align: center;
  }

}
