---
---
@import "../bourbon/bourbon";
@import "../neat/neat";
@import "../_sass/variables";
@import "../_sass/_includes/mixins";

$screen-xs: 480px;
$screen-sm: 768px;
$screen-md: 1090px;
$screen-big: 1400px;

@font-face {
    font-family: FeiraFont;
    src: url(/assets/fonts/feira-2018/LemonMilk.otf);
}

* {
  margin: 0;
  box-sizing: border-box;
}

body {
  padding-bottom: 0;
}

.main {
  width: 100vw;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  font-family: FeiraFont;
}

.main__capa {
  background: url(http://farm1.staticflickr.com/851/43030402335_aaf1f560c8_b.jpg);
  background-repeat: no-repeat;
  width: 100vw;
  height: 100vh;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  padding: 30px;
}

.capa__title {
  text-transform: uppercase;
  text-align: center;
  color: #ffffff;
  text-shadow: -1px 3px 15px #000000;
  letter-spacing: 2px;

  h1 {
    font-size: 50px;
  }

  h2 {
    font-size: 40px;
  }

  h3 {
    font-size: 45px;
  }

  h4 {
    font-size: 40px;
  }
}

.main__marcha {
  color: #fff;
  min-height:100vh;
  text-align: center;
  width: 100%;
  padding: 20px 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  background-color: #C94C46;
  box-shadow: inset 0px -6px 15px 7px rgba(0, 0, 0, 0.4);

  @media screen and (min-width: $screen-md) {
    text-align: center;
  }
}

.marcha__title {
  font-size: 18px;
  margin-top: 60px;
  font-size: 30px;
  text-shadow: -1px 6px #000000;
  line-height: 1.2;
}

.marcha__descricao {
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  flex: 1;
  max-width: 700px;
  width: 100%;
  font-size: 15px;
  text-shadow: -1px 3px #000000;
  margin-top: 50px;
  letter-spacing: 5px;
  font-size: 16px;

  p + p {
    margin-top: 15px;
  }
}

.marcha__youtube__playlist {
  text-align: center;
}

.marcha__album-de-fotos {
  text-align: center;
  background-color: #000;

  .header-title {
    color: #fff;
  }
}

.marcha__mapa {
  display: flex;
  justify-content: space-around;
  background-color: #9f0019;
  background-image: url('/assets/img/marcha-nacional-lula-livre/mapa-marcha-redes.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: 50%;
  color: #fff;
  height: 700px;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: flex-start;

  .sobre_engenho_das_lages {
    background-color: #007aa2;
    width: 260px;
    height: 165px;
    font-size: 11px;
    padding-left: 5px;
    align-self: flex-start;
    margin-left: 10%;
  }

  .sobre_formosa {
    background-color: #fad300;
    width: 260px;
    height: 165px;
    font-size: 11px;
    padding-left: 5px;
    align-self: flex-end;
    margin-right: 10%;
  }

  .sobre_luziania {
    background-color: #00da08;
    width: 260px;
    height: 240px;
    font-size: 11px;
    padding-left: 5px;
    align-self: flex-end;
    margin-right: 10%;
  }
}

.entries {
  width: calc(100%);
  max-width:800px;
  margin:auto;
  position: relative;
  left:-5px;

  @media screen and (min-width: $screen-md) {
    width:calc(100% - 80px);
  }
}

.entry {
  width: calc(100% - 30px);
  float:right;
  padding:20px;
  clear:both;
  text-align:right;

  @media screen and (min-width: $screen-md) {
    width: calc(50% - 80px);
    float:left;

    &:not(:first-child) {
      margin-top:-60px;
    }
  }

  .title {
    font-size:32px;
    margin-bottom:12px;
    position: relative;
    color:#fff;

    &:before {
      content: '';
      position: absolute;
      width:8px;
      height:8px;
      border:4px solid #ffffff;
      background-color:#1D1D1D;
      border-radius:100%;
      top:50%;
      transform:translateY(-50%);
      left: -45px;
      z-index:1000;


      @media screen and (min-width: $screen-md) {
        right:-73px;
      }
    }

    &.big:before {
      width:24px;
      height:24px;
      transform:translate(8px,-50%);
    }
  }

  .body {
    color:#aaa;
    p {
      line-height:1.4em;
    }
  }

  @media screen and (min-width: $screen-md) {
    &:nth-child(2n) {
      text-align:left;
      float:right;
      .title {
        &:before {
          left:-63px;
        }

        &.big:before {
          transform:translate(-8px,-50%);
        }
      }
    }
  }
}

.entry__img {
  max-width: 100%;
  margin-top: 20px;
}

.news {
  text-align: center;
}

.item {
  margin: 10px 10px 20px 5px;
  box-shadow: 0px 0px 10px 0px  rgba(34,25,25,0.4);
  padding-bottom: 5px;
  border-radius: 3px;
  width: 100%;


  @include media($screen-sm) {
    width: 48%;
  }
  @include media($screen-md) {
    width: 30%;
  }
  @include media($screen-big) {
    width: 22%;
  }

  .headline {
    .support-line,
    time,
    h1 {
      padding: 0 10px;
    }

    h1 a {
      color: $mst-red;
    }
  }
}
