---
---

@import "../bourbon/bourbon";
@import "../neat/neat";
@import "../_sass/variables";

$mobile: new-breakpoint(max-width 768px);

#our-symbols {

  width: 100%;
  padding: 0;
  margin: 0;

  * {
    box-sizing: border-box;
  }

  h2 {
    font-size: 2em;
    position: relative;
    z-index: 1;
    transition: color 1s;
    bottom: 0;
    will-change: color;
    margin: 1em 0;
  }

  .highlighted {
    margin: 40px 0;
    text-align: center;
    font-size: 1.5em;
    font-weight: 600;
    line-height: 1.2em;
    color: $mst-red;
  }

  .container {
    max-width: 800px;
    margin: 0 auto;
    padding: 0 10px;
  }

  section#anthem {

    background-image: url(../img/nossos-simbolos/anthem-bg.jpg);
    background-size: cover;
    background-attachment: fixed;
    padding: 40px;

    @include clearfix;

    @include media($mobile) {
      padding: 10px
    }

    #player-wrapper {
      @include span-columns(5);

      @include media($mobile) {
        @include fill-parent();
      }
    }

    .lyrics {

      @include span-columns(7);

      @include media($mobile) {
        @include fill-parent();
      }

      #marker {
        width: 22px;
        position: absolute;
        left: -300px; /* hide marker */
        transition-duration: .2s;
      }

      .credits {
        font-size: .8em;
        font-weight: bold;
        font-style: italic;
        margin-bottom: 10px;
      }

      & > div {
        @include span-columns(6);

        @include media($mobile) {
          @include fill-parent();
        }
      }

      .sub {
        display: block;
        cursor: pointer;
        transition-duration: .3s;

        &:hover {
          color: black;
          text-decoration: underline;
        }

        &.active {
          font-weight: 800;
          color: rgb(217, 41, 25);;
        }
      }


    }
  }

  section#our-flag {

    padding: 0;
    position: relative;

    #red-background {
      width: 100%;
      height: 100%;
      background-color: rgba(255, 0, 0, .7);
      box-shadow: rgba(0,0,0,0.5) 4px 5px 20px inset;
      transition: background-color 1s;
    }

    #flag-wrapper {
      position: relative;
      background: transparent;
      background-image: url(../img/nossos-simbolos/flag-bg.jpg);
      background-repeat: no-repeat;
      background-size: cover;
      background-attachment: fixed;
      box-shadow: rgba(0, 0, 0, .5) 4px 5px 20px inset;
    }

    #flag {
      $width: 700px;
      width: $width;
      height: $width / 1.38;
      margin: 0 auto;

      padding: 0px;
      position: relative;

      @include media($mobile) {
        $width: 320px;
        width: $width;
        height: $width / 1.38;
      }



      #circle {
        background-color: white;
        border-radius: 50%;
        position: static;
        margin: 0 auto;
        margin-top: 9px;

        @include clearfix;

        img {
          position: absolute;
          transition: transform .2s, left 2s, top .5s, width 2s, opacity .3s;
          will-change: top, left, -webkit-transform, -webkit-filter, opacity, filter, transform;
          cursor: pointer;
          &.active {
            @include filter(drop-shadow(1px 7px 4px rgba(0, 0, 0, .8)));
            @include transform(scale(1.05));
            opacity: 1;

          }

          &:active {
            @include transform(scale(1.1));
            opacity: 1;
          }
        }
      }

      #text {
        position: relative;
        width: 62%;
        top: 7.4%;
        left: 19%;
        padding: 9px;
        background-color: white;
        border-radius: 50%;
      }

      #machete {
        width: 2.83%;
        top:20%;
        left: 37%;

        &:hover {
          z-index: 10;
        }
      }

      #brasil {
        top: 23%;
        left: 27.5%;
        width: 45%;
      }

      #people {
        top: 36%;
        left: 37%;
        width: 30%;
        fill: red;
        pointer-events: bounding-box;
        stroke: pink;

        path {
          fill: red;
          pointer-events: bounding-box;
          stroke: pink;
        }
      }
    }

    &.decomposited {

      h2 {
        bottom: -155px;
        color: white;
        text-align: center;
      }

      #red-background {
        background-color: rgba(255, 0, 0, .3);
      }

      #flag {
        #text,
        #brasil,
        #text,
        #machete,
        #people {
          width: 100px;
          min-height: 100px;

          @include media($mobile) {
            width: 50px;
            min-height: 50px;
          }


          top: -13%;
          @include filter(drop-shadow(1px 5px 2px rgba(0, 0, 0, .4)));
        }

        #text {
          left: 10%;
        }

        #brasil {
          left: 36%;
        }

        #machete {
          left: 62%;
          width: 3%;
        }

        #people {
          left: 72%;
        }
      }

    }
  }

  #symbols-meaning {

    margin: 0;
    padding: 0 10px;
    li {
      $size: 1.5em;
      position: absolute;
      top: 0;
      max-width: $size;
      max-height: $size;
      display: block;
      background: rgba(255, 255, 255, .9);
      box-shadow: 1px 2px 7px black;
      border-radius: 50%;
      overflow: hidden;
      transition-duration: .5s;
      cursor: pointer;

      @include media($mobile) {
        position: static;
        max-width: 100%;
        max-height: 100%;
        border-radius: 0;
        box-shadow: none;
        margin-top: 10px;

      }

      &.hidden {
        opacity: 0;
        @include media($mobile) {
          opacity: 1;
          display: block;
        }
      }

      &.active {
        max-width: 15em;
        max-height: 500px;
        border-radius: 5px;
        padding: 10px;

        &:before {
          display: none;
        }
      }

      &:before {
        content: "?";
        text-align: center;
        width: 100%;
        display: block;
        font-weight: 800;

        @include media($mobile) {
          display: none;
        }
      }

      &[data-for="#brasil"] {
        top: 35%;
        left: 47%;

        &.active {
          top: 56%;
          left: 21%;
        }

        b {
          color: $mst-green;
        }
      }

      &[data-for="#red-background"] {
        top: 27%;
        left: 28%;

        &.active {
          top: 44%;
          left: 22%;
        }

        b {
          color: $mst-red;
        }
      }

      &[data-for="#text"] {
        top: 27%;
        left: 36%;

        &.active {
          top: 40%;
          left: 12%;
        }

        b:first-child {
          color: rgb(244, 244, 244);
          text-shadow: 1px 1px 2px black;
        }
      }

      &[data-for="#machete"] {
        top: 27%;
        left: 42%;

        &.active {
          top: 38%;
          left: 23%;
        }
      }

      &[data-for="#people"] {
        top: 64%;
        left: 51%;

        &.active {
          top: 52%;
          left: 61%;
        }
      }
    }


  }

  section#lona-preta {
    @include clearfix;

    background: $mst-light-gray;

    h3 {
      margin-bottom: 1em;
    }

    .container {
      & > div {

        @include span-columns(6);

        @include media($mobile) {
          @include fill-parent();
        }

        &:last-of-type {
          border-left: dashed 1px #CACACB;
          padding-left: 23px;
          min-height: 300px;

          @include media($mobile) {
            padding-left: 0;
            border-color: transparent;
          }
        }

        .news{
          overflow: hidden;
          margin-bottom: 19px;
          line-height: 1em;

          a{
            font-size: 13px;

            img{
              width: 100px;
              float: left;
              margin-right: 10px;
            }
          }

        }

        .more-news{
          border-radius: 5px;
          background-color: $mst-green;
          color: #fff;
          widows: 100%;
          text-align: center;
          display: block;
          width: 100%;
          padding: 10px 30px;
          text-decoration: none;
          @include transition(background-color 0.4s ease-out);

          &:hover{
            background-color: $mst-red;
          }
        }
      }
    }
  }

}
