---
---

@import "../bourbon/bourbon";
@import "../neat/neat";
@import "../_sass/variables";


main#musicoteca {
  background-color: #e6e6e6;
  padding: 0;
  width: 100%;
  @include fill-parent();


  section {
    padding: 30px 10px;
    @include outer-container;

    h2 {
      text-align: center;
      font-size: 2em;
    }

    &#videos {
      ul {
        li {
          @include span-columns(4);

          @include media($mobile) {
            @include fill-parent();
          }

          iframe {
            width: 100%;
          }

          & > div {
            h3 {
              margin-bottom: 20px;
            }
          }
        }
      }
    }

    &#mst-indica {

      ul {
        text-align: center;

        li {

          padding: 20px;
          text-align: center;
          width: 220px;
          display: inline-block;

          a {
            img {
              width: 100%;
              border-radius: 50%;
              transition-duration: .2s;
              width: 147px;
              height: 147px;
            }

            &:hover {
              img {
                border: 4px solid $mst-green;
              }
            }
          }
        }
      }
    } // #mst-indica
  }
}

main#musicoteca > header {
  display: flex;
  justify-content: space-between;
  overflow: hidden;
  background-image: url('http://farm8.staticflickr.com/7573/27266226721_1d42bcde4a_b.jpg');
  background-size: contain;
  color: #ffffff;
  height: 300px;
  padding: 0 10px;

  .icone {
    margin: 0;
  }

  .icone-um {
    background-image: url('/assets/img/musicoteca/icone1.png');
    background-size: contain;
    max-width: 300px;
    background-repeat: no-repeat;
    width: 100%;
  }

  .icone-dois {
    background-image: url('/assets/img/musicoteca/icone2.png');
    background-size: cover;
    max-width: 450px;
    background-repeat: no-repeat;
    width: 100%;
  }

  .name-page {
    color: #ffffff;
  }

  .content {
    width: 100%;
    align-self: center;

    p{
      font-family: 'Exo 2';
      color: $mst-dark-gray;
      font-weight: 400;
      font-size: 1.2em;
    }

    h2 {
      font-size: 36px;
      font-style: italic;

      @include media($mobile) {
        padding: 10px;
      }
    }
  }
} // main#musicoteca > header {

main#musicoteca > nav {
  background: $mst-red;
  transition-duration: .5s;
  position: relative;

  &.fixed {
    position: fixed;
    top: 0;
    left:0;
    z-index: 100;
    box-shadow: 1px 0px 6px rgb(50, 50, 50);
    background: rgba($mst-red, .85);
    -webkit-backface-visibility:hidden;
  }

  ul {
    padding: 5px;
    margin: 0;
    width: 100%;
    text-align: center;
    display: table;
    table-layout: fixed;
    width: 100%;

    li {
      display: table-cell;

      a {
        color: white;
        font-weight: bold;
        font-size: 1.5em;

        @include media($mobile) {
          font-size: 1em;
        }

        text-decoration: none;

        &::after{
          font-family: 'Glyphicons Halflings Regular', Helvetica, Arial, sans-serif;
          content: " \E114";
          font-size: 0.5em;
          display: inline-block;
          color: white;
          margin-left: 0.5em;
        }
      }
    }
  }
}// main#musicoteca > nav {

#albuns, #fitas {

  & > ul {
    text-align: center;
    background-size: cover;
    margin-top: 40px;


    & > li {

      margin: 15px;
      width: 315px;
      height: 335px;
      display: inline-block;
      vertical-align: top;
      position: relative;
      margin-bottom: 10px;
      box-shadow: inset 0 3px 5px rgba(0,0,0, .3);
      background: linear-gradient(rgba(150,25,19, .2), transparent);
      background-size: cover;


      .album {

        width: 100%;
        height: 100%;
        z-index: 10;
        position: absolute;
        left: 0;
        background: white;
        box-shadow: 1px 2px 5px #A3A3AB;

        a {
          color: $mst-red;
        }

        .btn-download {
          border: none;
          background: $mst-light-gray;
          color: #74747E;
          font-size: .9em;
          border-radius: 3px;
          padding: 5px 10px;
        }

        .cover {
          height: 205px;
          cursor: pointer;
          background-size: cover;
          img {
            display: none;
            width: 100%;
          }
        }

        .playlist {
          padding: 10px;
          margin-top: 28px;

          header {
            height: 16%;

            @include media($mobile) {
              height: 20%;
            }

            h2 {
              text-align: center;
              font-size: 1.2em;
              font-weight: 400;
              color: $mst-red;
            }
          }
        }
      }
    }
  }
} // #albuns

