---
---

@import "../bourbon/bourbon";
@import "../neat/neat";
@import "../_sass/variables";

$mobile: new-breakpoint(max-width 768px);

//EXTENDS
.center{
  max-width: 1020px;
  margin: 0 auto;
}

.default-container{
  @include outer-container;
  @extend .center;
}
.text-with-shadow{
  text-shadow: 1px 2px 1px #000000;
  font-family: 'Exo 2';
  color: #ffffff;
  font-weight: 500;
}

.title-with-shadow{
  text-shadow: 1px 2px 4px #000000;
  color: #ffffff;
}

.truncate {
  overflow: hidden;
  text-overflow: ellipsis;
}
//END

#music {
  padding: 0;
  width: 100%;
  background-color: #f8f8f9;

  #playlist {
    @include outer-container;
    .album{
        @include span-columns(4);
        @include omega(3n);
    }

    .player {
      display:none;
    }

    .list .track{
      a {
        color: red;
      }

      &.active{
        a {
          color: green;
        }
      }
    }
  }

  #about {
    padding-bottom: 36px;
    overflow: hidden;
    background: url('https://farm8.staticflickr.com/7288/16203273487_0bdeaeddf6_z.jpg') no-repeat left top;
            background-size: cover;
         -o-background-size: cover;
       -moz-background-size: cover;
    -webkit-background-size: cover;

    .content {
      @extend .default-container;
      margin-top: 49px;

      & > p{
        @extend .text-with-shadow;
        font-size: 18px;
      }

      h2 {
        @extend .title-with-shadow;
        font-size: 36px;
        font-style: italic;

        @include media($mobile) {
          padding: 10px;
        }

      }

      #summary {
        @include span-columns(6);
        overflow: hidden;
        float: left;
        p {
          @extend .title-with-shadow;
          font: 500 18px / 24px;
          color: #ffffff;
          font-weight: 200;
          padding: 10px;
        }

        @include media($mobile) {
          @include fill-parent();
        }
      }
    }
  }
}
