---
---

@import "../bourbon/bourbon";
@import "../neat/neat";
@import "../_sass/variables";
@import "../_sass/_includes/mixins";

@font-face {
  font-family: SemTerrinhaFonte;
  src: url(/assets/fonts/sem-terrinha/Letters_for_learners.ttf);
}

@font-face {
  font-family: SemTerrinhaTituloFonte;
  src: url(/assets/fonts/sem-terrinha/Huruf_Miranti.ttf);
}

.header-title {
  margin: 0;
  color: #555;
  font-size: 3em;
  font-family: SemTerrinhaTituloFonte;
  margin-bottom: 20px;
  font-weight: bold;
}

.container {
  padding: 0;
}

.main-picture{
  display: flex;
  flex-direction: column;
}

.especial-criancas__capa {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: space-around;
  align-items: flex-end;
  background-image: url(/assets/img/sem-terrinha/ceu.jpg);
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;


  @include media($screen-xs) {
    align-items: center;
  }
}

.especial-criancas__titulo {
  font-family: SemTerrinhaTituloFonte;
  z-index: 1000;
  max-width: 600px;
  h1 {
    text-transform: uppercase;
    font-size: 45px;
    margin: 0;
    letter-spacing: 3px;
    text-align: center;
    color: #CC221A;
  }
  h2 {
    font-size: 38px;
    margin-top: 10px;
    letter-spacing: 3px;
    text-align: center;
    color: #007149;
  }
  h3 {
    font-size: 33px;
    border-top: 1px solid black;
    margin-top: 10px;
    padding-top: 10px;
    letter-spacing: 3px;
    color: #4b4b4d;
    text-align: center;
  }
}

.nuvem{
  position: absolute;

  &-grande {
    top: 50px;
    left: 50px;
    max-width: 200px;
    width: 40vw;

    @include media($screen-xs) {

    }
  }

  &-media{
    top: 200px;
    left: 120px;
    max-width: 100px;
    width: 30vw;

    @include media($screen-xs) {

    }
  }

  &-menor{
    top: 170px;
    left: 20px;
    max-width: 80px;
    width: 25vw;

  }
}

.sol{
  width: 45vw;
  max-width: 200px;
  position: absolute;
  right: 10px;
  top: 10px;
}

.kids{
  width: 50%;
  height: 50%;
  display: none;

  @include media($screen-xs) {
    display: block;
  }
}

.acampamento{
  position: absolute;
  left: 10px;
  bottom: 10px;
  width: 300px;
  display: none;

  @include media($screen-xs) {
    display: block;
  }
}

.criancas_mst{
  position: absolute;
  right: 10px;
  bottom: 10px;
  width: 300px;
  display: none;

  @include media($screen-xs) {
    display: block;
  }
}

.pipa {
  width: 100px;
  position: absolute;
  right: 350px;
  bottom: 405px;
}

.description {
  background-image: url(/assets/img/sem-terrinha/base.jpg);
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100vw;
  color: #555;
  font-weight: 300;
  padding: 10px;
  font-size: 1.3em;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: column;
  padding: 10% 30px;
}

.description__paragraph {
  max-width: 600px;
  font-size: 30px;
  font-weight: bold;
  font-family: SemTerrinhaFonte;
}

.youtube-playlist {
  background-image: url("//farm1.staticflickr.com/895/42072540545_2761b4df11_b.jpg");
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100vw;
  height: 60vh;
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;
  align-items: center;
  padding: 15px;
  padding-top: 40px;
}

.album-de-fotos-kids {
  background-image: url("//farm1.staticflickr.com/895/42072540545_2761b4df11_b.jpg");
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;
  align-items: center;
  padding: 15px;
  padding-top: 40px;
}

.especial-criancas__campanha {
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 15px;
  padding-top: 40px;

  .imagem-apoio{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100vw;
    overflow: hidden;
  }

  .card-campanha {
    width: 100%;
    max-width: 600px;
  }
}

.especial-criancas__campanha-image {
  position: absolute;
  display: none;
  max-width: 200px;

  &-right {
   right: 0;
  }

  &-left {
   left: 0;
  }

  @include media($screen-xs) {
    display: block;
  }
}

.especial-criancas__read-more {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.especial-criancas__flickr,
.especial-criancas__flickr-slide {
  width: 100vw;
  display: block;
  height: auto;
  margin: 0;

  @include media($screen-md) {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 500px;
  }
}
