---
---

@import "../bourbon/bourbon";
@import "../neat/neat";
@import "../_sass/variables";
@import "../_sass/_includes/mixins";

.encontro-terrinha .main-picture {
  background-image: url(//farm1.staticflickr.com/971/42311116291_0a2b3e8fe4_b.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;

  @include media($desktop){
    justify-content: space-between;
  }
}

.encontro-terrinha .responsive-image {
  width: auto;
  align-self: flex-end;
}

.encontro-terrinha .responsive-image.terrinha-jornada {
  // display: none;

  @include media($desktop){
    display: block;
    background-image: url(/assets/img/sem-terrinha/casas.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    max-height: 640px;
    width: 40vw;
    max-width: 580px;
 }
}

.encontro-terrinha .responsive-image.logo {
  width: 100%;
  align-self: center;
  max-width: 500px;

  @include media($desktop){
    width: auto;
    margin: 80px;
    align-self: flex-start;
  }
}

#special.encontro-terrinha #information {
  font-size: 1.7em;
  padding: 0;

  .content {
    justify-content: center;
  }

  .content span {
    text-shadow: 1px 2px 1px #000000;
    font-family: 'Exo 2';
    color: #ffffff;
    font-weight: 500;
    font-size: 1.1em;
    align-self: center;
  }
}

.encontro-terrinha #description {
  margin-top: 30px;

  .content p {
    line-height: 1.6;
    margin-bottom: 20px;
  }
}

.encontro-terrinha .youtube-playlist {
  background-color: #111;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 15px;
}

.encontro-terrinha .album-de-fotos {
  background-color: #111;
  display: flex;
  justify-content: center;
  align-content: center;
  padding: 20px;
  margin-top: 15px;
}
