---
---

@import "../bourbon/bourbon";
@import "../neat/neat";
@import "../_sass/variables";




//EXTENDS

.center{
  max-width: 1020px;
  margin: 0 auto;
}

.default-container{
  @include outer-container;
  @extend .center;
}
.text-with-shadow{
  text-shadow: 1px 2px 1px #000000;
  font-family: 'Exo 2';
  color: #ffffff;
  font-weight: 500;
}

.title-with-shadow{
  text-shadow: 1px 2px 4px #000000;
  color: #ffffff;
}

.truncate {
  overflow: hidden;
  text-overflow: ellipsis;
}
//END

.responsive-image {
    width: 100%;
    height: auto;
}

#special .radio {

  flex-direction: column;

  h2 {
    text-shadow: 1px 2px 1px #000000;
    font-family: 'Exo 2';
    color: #ffffff;
    font-weight: 500;
    font-size: 1.4em;
  }
}

#special #galeria {
  min-height: 400px;

  .gallery {
    display: inline;
  }

  .gallery-item {
    max-width: 370px;
    border-radius: 3px;
    box-shadow: 3px 3px 3px rgba(0,0,0,0.125);
    width: 15%;
    max-width: 250px;
    margin-bottom: 10px;
    padding: 3px;
  }

}

#special {
  padding: 0;
  width: 100%;
  background-color: #f8f8f9;
  .title {
    color: $mst-green;
  }

  .releated {
    @extend .default-container;
    @include media($mobile){
      h2{
        padding-left: $padding-mobile;
        padding-right: $padding-mobile;
      }
    }

    .container .item {
      @include media($screen-big) {
        width: 30%;
      }
    }
  }






  .description {
    @extend .default-container;

    .content {
      margin-top: 49px;
      @include span-columns(6);
      overflow: hidden;
      float: left;

      p {
        font: 500 18px / 24px;
        color: $gray-dark;
        font-weight: 300;
        padding: 10px;
        font-size: 1.3em;
        @include media($mobile) {
          padding: 0;
        }
      }

      @include media($mobile) {
        @include span-columns(12);
        padding-left: $padding-mobile;
        padding-right: $padding-mobile;
        margin-top: 0;
        h1{
          padding-top: $padding-mobile;
          padding-bottom: $padding-mobile;
        }

      }
    }

    @include media($mobile) {
      @include fill-parent();
    }
  }
  #information{
    background-color: $mst-red;
    width: 100%;
    min-height: 110px;
    display: flex;
    justify-content: center;

    @include media($mobile) {
      padding-bottom: 10px !important;
    }

    .content{
      @extend .default-container;
      display: flex;
      width: 100%;
      justify-content: space-between;

      .see-more {
        color: #fff;
        text-decoration: underline;
      }


      #place{
        align-self: center;
        font-size: 19px;
        margin-top: 7px;
        @extend .text-with-shadow;
        @include span-columns(12);
        text-align: center;
        @include media($mobile) {
          @include fill-parent();
          font-size: .8em;

        }
      }
    }
  }
}
