---
---

@import "../bourbon/bourbon";
@import "../neat/neat";
@import "../_sass/variables";

//EXTENDS
.center{
  max-width: 1020px;
  margin: 0 auto;
}

.default-container{
  @include outer-container;
  @extend .center;
}
.text-with-shadow{
  text-shadow: 1px 2px 1px #000000;
  font-family: 'Exo 2';
  color: #ffffff;
  font-weight: 500;
}

.title-with-shadow{
  text-shadow: 1px 2px 4px #000000;
  color: #ffffff;
}

.truncate {
  overflow: hidden;
  text-overflow: ellipsis;
}
//END

/*

    background: url(../img/nossa-producao/background.jpg) no-repeat center center fixed;
        background-size: 100% 100%;
            -webkit-background-size: cover;
                -moz-background-size: cover;
                    -o-background-size: cover;
                        background-size: cover;
*/

#special {
  padding: 0;
  width: 100%;
  background-color: #f8f8f9;
  .title {
    color: $mst-green;
  }

  .releated {
    @extend .default-container;


    .container .item {
      @include media($screen-big) {
        width: 30%;
      }
    }
  }

  #about {
    padding-bottom: 36px;
    overflow: hidden;
    min-height: 410px;
    background: url(../img/feira-reforma-agraria/banner_site.jpg) no-repeat center center;
        background-size: 100% 100%;
    @include media($mobile){
      min-height: 200px;
    }

    .content {
      margin-top: 49px;
      @extend .default-container;
      & > p{
        @extend .text-with-shadow;
        font-size: 18px;
      }

      .title {
        @extend .title-with-shadow;
        font-size: 36px;
        font-style: italic;

        @include media($mobile) {
          padding: 10px;
        }
      }
    }
  }

  .description {
    @extend .default-container;

    .content {
      margin-top: 49px;
      @include span-columns(6);
      overflow: hidden;
      float: left;
      p {
        font: 500 18px / 24px;
        color: $gray-dark;
        font-weight: 300;
        padding: 10px;
        font-size: 1.3em;
      }
      @include media($mobile) {
        @include span-columns(12);
      }
    }

    @include media($mobile) {
      @include fill-parent();
    }
  }
  #information{
    background-color: $mst-red;
    width: 100%;
    min-height: 110px;
    display: flex;
    justify-content: center;

    .content{
      @extend .default-container;
      display: flex;
      width: 100%;
      justify-content: space-between;

      .see-more {
        color: #fff;
        text-decoration: underline;
      }

      // #date{
      //   @extend .title-with-shadow;
      //   @include span-columns(5);
      //   font-size: 3em;
      //   margin-top: 0;
      //   margin-bottom: 0;
      //   min-width: 235px;
      //   text-align: center;
      //   align-self: center;
      //
      //   @include media($mobile) {
      //     @include span-columns(12);
      //   }
      // }

      #place{
        align-self: center;
        font-size: 19px;
        margin-top: 7px;
        @extend .text-with-shadow;
        @include span-columns(12);
        text-align: center;
        @include media($mobile) {
          @include fill-parent();
        }
      }
    }
  }
}
