---
---

@import "../_sass/variables";

.tooltip {
  display: none;
  border: 1px solid $mst-light-gray;
  padding: 10px;
  margin-top: 10px;
  max-width: 30em;
  font-size: .8em;
  box-shadow: 2px 2px 5px $mst-light-gray;
  border-radius: 5px;
  position: absolute;
  background-color: white;
}