main.all-news {
  @include default-figure-images();

  .container{
    .item {
      margin: 10px 10px 20px 5px;
      box-shadow: 0px 0px 10px 0px  rgba(34,25,25,0.4);
      padding-bottom: 5px;
      border-radius: 3px;
      width: 100%;


      @include media($screen-sm) {
        width: 48%;
      }
      @include media($screen-md) {
        width: 30%;
      }
      @include media($screen-big) {
        width: 22%;
      }

      .headline {
        .support-line,
        time,
        h1 {
          padding: 0 10px;
        }

        h1 a {
          color: $mst-red;
        }
      }

    }

    span.tag {
      display: inline-block;
      margin-top: 10px;
    }
  }

  & ul{
    max-width: 941px;
    margin: 0 auto;
  }
  & > ul > li {
    clear: both;
    border-bottom: dashed 1px #c3c3c3;
    & h1 > a{
      font-weight: bold;
      color: #555;
    }

    @media(min-width: $screen-sm) {
      height: 218px;
      & > article.headline {
        figure {
          float:left;
          width: 370px;
          margin-right: 15px;
        }
      }
    }
    article > p {
      margin-bottom: 1px;
    }

    & + li {
      margin-top: 30px;
    }
  }

  & > footer.pagination {
    margin: 0;
    padding: 0;
    padding-top: 30px;
    clear: both;
    text-align: center;
    font-weight: 200;
    nav {
      .previous, .next {
        text-transform: uppercase;
      }
      span.page_number {
        padding-left: 20px;
        padding-right: 20px;
      }
    }
  }
}
