main.all-news {
  @include default-figure-images();
  & ul{
    max-width: 941px;
    margin: 0 auto;
  }
  & > ul > li {
    clear: both;
    border-bottom: dashed 1px #c3c3c3;
    & h1 > a{
      font-weight: bold; 
      color: #555;
    } 

    @media(min-width: $screen-sm) {
      height: 218px;
      & > article.headline {
        figure {
          float:left;
          width: 370px;
          margin-right: 15px;
        }
      }
    }
    article > p {
      margin-bottom: 1px;
    }

    & + li {
      margin-top: 30px;
    }
  }

  & > footer.pagination {
    margin: 0;
    padding: 0;
    padding-top: 30px;
    clear: both;
    text-align: center;
    font-weight: 200;
    nav {
      .previous, .next {
        text-transform: uppercase; 
      }
      span.page_number {
        padding-left: 20px;
        padding-right: 20px;
      }
    }
  }
}
