<article>
  <h1>Disputa entre dois modelos agrícolas</h1>

  <img class="header-img" src="{{site.baseurl}}/assets/img/nossa-historia/marcha-25-carlos-ruggi.jpg" alt="Trabalhadores Sem Terra empunhando bandeiras">

  <section>
    <div class="container">
      <p>A Reforma Agrária já não fazia mais sentido num modelo econômico que tinha seu centro apenas nas exportações, nos bancos e nos grandes grupos econômicos, por isso o discurso que se hegemonizou é o de que a Reforma Agrária não faz mais sentido.</p>
      <p>Com a expansão e consolidação do agronegócio, a complexidade do debate em torno da questão agrária aumentou, e os Sem Terra tiveram que qualificar o debate. O capital estrangeiro, as transnacionais, os grandes grupos econômicos tomaram conta da agricultura no país, para exportar matérias-primas, produzir celulose e energia, para sustentar o seu modo de consumo.</p>
      <p>No entanto, mais do que nunca a Reforma Agrária era algo necessária. Uma reestruturação não só da concentração da propriedade da terra no Brasil, mas do jeito de produzir. O que estava em jogo é a disputa entre dois modelos de sociedade e produção agrícola, ou seja, a disputa entre os projetos da pequena agricultura, voltada para a produção de alimentos para o consumo interno, e do agronegócio, baseado em monocultivo e voltado à exportação.</p>
    </div>
  </section>

  <div class="blurred-background">
    <div class="background" style="background-image: url({{site.baseurl}}/assets/img/nossa-historia/v-congresso-encerramento-carlos-ruggi.jpg);"></div>
    <img class="foreground" src="{{site.baseurl}}/assets/img/nossa-historia/v-congresso-encerramento-carlos-ruggi.jpg">
  </div>

  <section>
    <div class="container">
      <h2><span>Quinto Congresso</span></h2>

      <p>Entre os dias 11 e 15 de junho de 2007, mais de 17.500 delegados e delegadas, vindos de todas as regiões do Brasil, participaram do 5° <a class="tooltip-item" href="#sobre-congresso">Congresso</a> Nacional do MST, em Brasília, se tornando histórico por ter sido o maior congresso camponês da América Latina até então.</p>
      <p>O lema do 5º Congresso, "Reforma Agrária, por Justiça Social e Soberania Popular", representava os novos desafios da luta pela terra, a Reforma Agrária como alternativa para as soluções dos gravíssimos problemas sociais do Brasil: a fome, o desemprego, a violência e todo o processo crescente de exclusão econômica e social. E a luta pela Reforma Agrária era vista como parte da construção e acumulação de forças para a construção de um projeto popular e soberano para o Brasil.</p>

      <img class="icon" src="{{site.baseurl}}/assets/img/icn_quinto_congresso.svg" alt="Quinto Congresso" />

      <blockquote class="red highlighted">
        <span class="quoted">Reforma Agrária, por Justiça Social e Soberania Popular</span>
      </blockquote>

      <p class="element-details">
        5º congresso do MST <br>
        11 a 15 de junho de 2007 
      </p>
    </div>
  </section>

  <section>
    <div class="container">
      <h2><span>Sexto Congresso</span></h2>
      
      <p>Entre os dias 10 a 14 de fevereiro de 2014 o MST realizou seu 6° <a class="tooltip-item" href="#sobre-congresso">Congresso</a> Nacional, em Brasília. “Lutar, Construir Reforma Agrária Popular!” foi o lema do Congresso, representando a síntese das tarefas, desafios e do papel do Movimento nesse período histórico que se abre. Cerca de 16 mil pessoas oriundos de 23 estados do Brasil mais o Distrito Federal, além de 700 a 1000 crianças Sem Terrinha, participaram da atividade, em Brasília.</p>

      <img class="icon" src="{{site.baseurl}}/assets/img/icn_sexto_congresso.svg" alt="Sexto Congresso" />

      <blockquote class="red highlighted">
        <span class="quoted">Lutar, Construir Reforma Agrária Popular!</span>
      </blockquote>

      <p class="element-details">
        6º congresso do MST <br>
        10 a 14 de fevereiro de 2014 
      </p>
    </div>
  </section>

  <div class="blurred-background">
    <div class="background" style="background-image: url({{site.baseurl}}/assets/img/nossa-historia/vi-congresso.jpg);"></div>
    <img class="foreground" src="{{site.baseurl}}/assets/img/nossa-historia/vi-congresso.jpg">
  </div>

  <section>
    <div class="container">
      <h2><span>A Reforma Agrária Popular</span></h2>
      <p>Ao longo do último período, os Sem Terra aprofundaram o debate em torno da questão agrária, e a luta pela Reforma Agrária ganhou um novo adjetivo: Popular.</p>
      <p>Popular, pois o Movimento percebeu que a Reforma Agrária não é apenas um problema e uma necessidade dos Sem Terra, do MST ou da Via Campesina. É uma necessidade de toda sociedade brasileira, em especial os 80% da população que vive de seu próprio trabalho e que precisa de um novo modelo de organização da economia, com renda e emprego para todos.</p>

      <blockquote class="red highlighted">
        <span class="quoted">Certamente, continuaremos na luta, juntos, na construção de uma sociedade mais justa, fraterna e igualitária, como é o sonho de todo brasileiro honesto e trabalhador.</span>
      </blockquote>

      <p>Com isso, os Sem Terra apresentaram seu novo programa agrária à sociedade, que tem como base de fundo na produção agrícola a matriz agroecológica. Neste sentido, o MST está debatendo com sua base e seus aliados um programa novo de Reforma Agrária. Uma Reforma Agrária que deve começar com a democratização da propriedade da terra, mas que organize a produção de forma diferente. Priorizando a produção de alimentos saudáveis para o mercado interno, combinada com um modelo econômico que distribua renda e respeite o meio ambiente. Queremos uma Reforma Agrária que fixe as pessoas no meio rural, que desenvolva agroindústrias, combatendo o êxodo do campo, e que garanta condições de vida para o povo. Com educação em todos os níveis, moradia digna e emprego para a juventude.</p>
      <p>Certamente, continuaremos na luta, juntos, na construção de uma sociedade mais justa, fraterna e igualitária, como é o sonho de todo brasileiro honesto e trabalhador.</p>
    </div>
  </section>
  <aside id="sobre-congresso" class="tooltip">
    {{ site.data.popups.congresso }}
  </aside>
</article>

<nav class="row">
  <div class="container">
    <a class="previous-period" href="{{site.baseurl}}/nossa-historia/00-04" title="O avanço da luta pela terra"><span class="fa fa-chevron-left"></span> 00-04</a>
  </div>
</nav>


<a href="#" class="scrolltop"><span class="fa fa-chevron-up"></span>TOPO</a>
