<h1>O Embrião do MST</h1>

<img class="header-img" src="{{site.baseurl}}/assets/img/nossa-historia/header.jpg">


<section class="container">
    <article>
      <p>A semente para o surgimento do MST talvez já existia quando os primeiro indígenas se levantaram contra a mercantilização e apropriação pelos invasores portugueses do que era comum e coletivo: a terra, bem da natureza. </p>
      <p>Como imaginar o MST sem o exemplo de Sepé Tiarajú e da comunidade Guarani em defesa de sua terra sem Males, da resistência coletiva dos quilombos ou de Canudos ou sem o aprendizado e a experiência das Ligas Camponesas ou do Movimento de Agricultores Sem Terra – Master?  Por tudo isso, nos sentimos herdeiros e continuadores das lutas pela democratização da terra e da sociedade.</p>
    </article>
</section>


<section class="container gray">
    <h2><span>1981</span></h2>
    <article>
      <figure class="column">
        <img src="{{site.baseurl}}/assets/img/nossa-historia/header.jpg"  alt="Imagem em preto em branco mostrando os trabalhadores rurais">
      </figure>
      <p class="column">No final da década de 1970, quando as contradições do modelo agrícola se tornam mais intensas e sofrem com a violência de Estado, ressurgem as ocupações de terra. Em setembro de 1979, centenas de agricultores ocupam as granjas Macali e Brilhante, no Rio Grande do Sul. Em 1981, um novo acampamento surge no mesmo estado e próximo dessas áreas: a <strong>Encruzilhada Natalino</strong>, que se tornou símbolo da luta de resistência à ditadura militar, agregando em torno de si a sociedade civil que exigia um regime democrático. </p>
    </article>

    <article>
      <div class="circle">
        <span class="month">JUL</span>
        <span class="day">25</span>
      </div>
      <blockquote>
          A maior manifestação realizada por trabalhadores rurais na história do Rio Grande do Sul
      </blockquote>
    </article>
</section>
