{% assign keep = include.posts | where : 'section', 'cover' %}
{% assign know_more = include.posts | where_not: 'section', ['cover', 'tv'] | where_not: "label", "special-stories"  %}
{% assign videos = include.posts | where: 'section', 'tv'  %}
{% assign our_historic = include.posts %}
<div class="content">
  <section id="know-more">
    <h4>Saiba mais</h4>
    {% for post in know_more | limit: 5 %}
      {% assign thumbnail = post | find_image: 'tiny' %}
      <div class="news">
        <a href="{{ site.baseurl }}{{ post.url }}" title="{{ post.title }}">
          {% if thumbnail != '' %}
            <img src="{{ thumbnail }}" alt="{{ post.title }}" />
            {{ post.title | truncate: 55 }}
          {% else %}
            {{ post.title | truncate: 70 }}
            <span class='support_line'>{{ post.support_line | truncate: 60}}</span>
          {% endif %}

        </a>
      </div>
    {% endfor %}

    <a id="more-news" href="{{ site.baseurl }}/nossa-producao/noticias/">Mais notícias</a>
  </section>
  <!--  -->
  <div id="others-container">
    <section id="keep-an-eye">
      <h4>Fique de olho</h4>
      {% for post in keep | limit: 1 %}
        <div class='news'>
          <a href="{{ site.baseurl }}{{ post.url }}" title="{{ post.title }}">
            <img src="{{ post | find_image: 'hd' }}" />
            <span>{{ post.title }}</span>
          </a>
        </div>
      {% endfor %}
    </section>

    <div id="others" >
      <section id="video">
        <h4>Vídeos</h4>
        {% for post in videos | limit: 2 %}
          <div class="news">
            <a href="{{ site.baseurl }}{{ post.url }}" title="{{ post.title }}">
              <iframe width="100%" src="{{ post.video | get_video_embeded }}" allowfullscreen frameborder="0"></iframe>
              {{ post.title }}
            </a>
          </div>
        {% endfor %}
      </section>
    </div>

    <section id="our-historic">
      <h4>Conheça mais sobre o MST</h4>
      <hr>
        <div class="news">
        <a href="/nossa-historia/" title="Nossa história">
          <img src="/assets/img/icn_history.png" alt="" />
          Nossa história
        </a>
      </div>

      <div class="news">
        <a href="/quem-somos/#objectives" title="Objetivos">
          <img src="/assets/img/icn_lutas.png" alt="" />
          Objetivos
        </a>
      </div>

      <div class="news">
        <a href="http://viacampesina.org/en/" target="_blank" title="Via Campesina">
          <img src="/assets/img/icn_campesina.png" alt="" />
          Via Campesina
        </a>
      </div>
    </section>
  </div>
  <!--  -->
</div>
