<div class="content">
  <div id="text">
    <h3>Assentamentos pelo Brasil</h3>
    <p>O assentamento é um espaço para o conjunto de famílias camponesas viverem, trabalhar e produzir, dando uma função social a terra e garantindo um futuro melhor à população. A vida no assentamento garante às famílias direitos sociais que não são garantidos a todo o povo brasileiro, como casa, escola e comida.</p>
    <p>O impacto da criação de um assentamento marca a vida de um município, tanto do ponto de vista social como econômico. Em primeiro lugar, a terra ganha uma função social. Em segundo lugar, um conjunto de famílias ganha instrumentos para a sua sobrevivência. Depois de um período, constroem a casa, conquistam a escola e começam a produzir. A produção garante o abastecimento de alimentos aos moradores das pequenas cidades e gera renda às famílias assentadas.</p>
    <p>Buscamos, em cada assentamento, desenvolver uma mentalidade e uma atitude de Soberania Alimentar, compreendendo que a nossa função social é produzir alimentos, sendo esta a nossa primeira tarefa histórica, eliminando a fome do meio das famílias camponesas.</p>
  </div>
  <div id="gallery">
    <figure>
      <img src="http://dummyimage.com/538x359/000000/fff?text=001" />
      <legend><strong>Cavaleiros no assentamento Pirituba, em Itaberá</strong> Foto por: Joka Madruga</legend>
      <span class='loading'>
        <svg class="spinner" width="45px" height="45px" viewBox="0 0 66 66" xmlns="http://www.w3.org/2000/svg">
           <circle class="path" fill="none" stroke-width="6" stroke-linecap="round" cx="33" cy="33" r="30"></circle>
        </svg>
      </span>
    </figure>

    <ul>
      <li><a target="_blank" href="http://dummyimage.com/538x359/000000/fff?&text=001"><img src="http://dummyimage.com/123x82/000000/fff?text=001" /></a></li>
      <li><a target="_blank" href="http://dummyimage.com/538x359/000000/fff?&text=002"><img src="http://dummyimage.com/123x82/000000/fff?text=002" /></a></li>
      <li><a target="_blank" href="http://dummyimage.com/538x359/000000/fff?&text=003"><img src="http://dummyimage.com/123x82/000000/fff?text=003" /></a></li>
      <li><a target="_blank" href="http://dummyimage.com/538x359/000000/fff?&text=004"><img src="http://dummyimage.com/123x82/000000/fff?text=004" /></a></li>
      <li><a target="_blank" href="http://dummyimage.com/538x359/000000/fff?&text=005"><img src="http://dummyimage.com/123x82/000000/fff?text=005" /></a></li>
      <li><a target="_blank" href="http://dummyimage.com/538x359/000000/fff?&text=006"><img src="http://dummyimage.com/123x82/000000/fff?text=006" /></a></li>
    </ul>

  </div>
</div>
