<div class="content">
  <div id="text">
    <h3>Assentamentos pelo Brasil</h3>
    <p>O assentamento é um espaço para o conjunto de famílias camponesas viverem, trabalhar e produzir, dando uma função social a terra e garantindo um futuro melhor à população. A vida no assentamento garante às famílias direitos sociais que não são garantidos a todo o povo brasileiro, como casa, escola e comida.</p>
    <p>O impacto da criação de um assentamento marca a vida de um município, tanto do ponto de vista social como econômico. Em primeiro lugar, a terra ganha uma função social. Em segundo lugar, um conjunto de famílias ganha instrumentos para a sua sobrevivência. Depois de um período, constroem a casa, conquistam a escola e começam a produzir. A produção garante o abastecimento de alimentos aos moradores das pequenas cidades e gera renda às famílias assentadas.</p>
    <p>Buscamos, em cada assentamento, desenvolver uma mentalidade e uma atitude de Soberania Alimentar, compreendendo que a nossa função social é produzir alimentos, sendo esta a nossa primeira tarefa histórica, eliminando a fome do meio das famílias camponesas.</p>
  </div>
  <div id="gallery">
    <figure>
      <img src="{{site.baseurl}}/assets/img/nossa-producao/galeria/grande/01.jpg" />
      <legend><strong>Legenda 1</strong> Foto por: Fotógrafo 1</legend>
    </figure>
    <span class='loading'>
      <svg class="spinner" width="45px" height="45px" viewBox="0 0 66 66" xmlns="http://www.w3.org/2000/svg">
        <circle class="path" fill="none" stroke-width="6" stroke-linecap="round" cx="33" cy="33" r="30"></circle>
      </svg>
    </span>

    <div id="thumbs">
      <a data-direction="1" href="#" class="arrow left"></a>
      <ul>
        <li><a target="_blank" title="<strong>Legenda 1</strong> Foto por: Fotógrafo 1" href="{{site.baseurl}}/assets/img/nossa-producao/galeria/grande/01.jpg"><img src="{{site.baseurl}}/assets/img/nossa-producao/galeria/pequeno/01.jpg" /></a></li>
        <li><a target="_blank" title="<strong>Legenda 1</strong> Foto por: Fotógrafo 1" href="{{site.baseurl}}/assets/img/nossa-producao/galeria/grande/02.jpg"><img src="{{site.baseurl}}/assets/img/nossa-producao/galeria/pequeno/02.jpg" /></a></li>
        <li><a target="_blank" title="<strong>Legenda 1</strong> Foto por: Fotógrafo 1" href="{{site.baseurl}}/assets/img/nossa-producao/galeria/grande/03.jpg"><img src="{{site.baseurl}}/assets/img/nossa-producao/galeria/pequeno/03.jpg" /></a></li>
        <li><a target="_blank" title="<strong>Legenda 1</strong> Foto por: Fotógrafo 1" href="{{site.baseurl}}/assets/img/nossa-producao/galeria/grande/04.jpg"><img src="{{site.baseurl}}/assets/img/nossa-producao/galeria/pequeno/04.jpg" /></a></li>
        <li><a target="_blank" title="<strong>Legenda 1</strong> Foto por: Fotógrafo 1" href="{{site.baseurl}}/assets/img/nossa-producao/galeria/grande/05.jpg"><img src="{{site.baseurl}}/assets/img/nossa-producao/galeria/pequeno/05.jpg" /></a></li>
        <li><a target="_blank" title="<strong>Legenda 1</strong> Foto por: Fotógrafo 1" href="{{site.baseurl}}/assets/img/nossa-producao/galeria/grande/06.jpg"><img src="{{site.baseurl}}/assets/img/nossa-producao/galeria/pequeno/06.jpg" /></a></li>
        <li><a target="_blank" title="<strong>Legenda 1</strong> Foto por: Fotógrafo 1" href="{{site.baseurl}}/assets/img/nossa-producao/galeria/grande/07.jpg"><img src="{{site.baseurl}}/assets/img/nossa-producao/galeria/pequeno/07.jpg" /></a></li>
        <li><a target="_blank" title="<strong>Legenda 1</strong> Foto por: Fotógrafo 1" href="{{site.baseurl}}/assets/img/nossa-producao/galeria/grande/08.jpg"><img src="{{site.baseurl}}/assets/img/nossa-producao/galeria/pequeno/08.jpg" /></a></li>
        <li><a target="_blank" title="<strong>Legenda 1</strong> Foto por: Fotógrafo 1" href="{{site.baseurl}}/assets/img/nossa-producao/galeria/grande/09.jpg"><img src="{{site.baseurl}}/assets/img/nossa-producao/galeria/pequeno/09.jpg" /></a></li>
        <li><a target="_blank" title="<strong>Legenda 1</strong> Foto por: Fotógrafo 1" href="{{site.baseurl}}/assets/img/nossa-producao/galeria/grande/10.jpg"><img src="{{site.baseurl}}/assets/img/nossa-producao/galeria/pequeno/10.jpg" /></a></li>
        <li><a target="_blank" title="<strong>Legenda 1</strong> Foto por: Fotógrafo 1" href="{{site.baseurl}}/assets/img/nossa-producao/galeria/grande/11.jpg"><img src="{{site.baseurl}}/assets/img/nossa-producao/galeria/pequeno/11.jpg" /></a></li>
        <li><a target="_blank" title="<strong>Legenda 1</strong> Foto por: Fotógrafo 1" href="{{site.baseurl}}/assets/img/nossa-producao/galeria/grande/12.jpg"><img src="{{site.baseurl}}/assets/img/nossa-producao/galeria/pequeno/12.jpg" /></a></li>
        <li><a target="_blank" title="<strong>Legenda 1</strong> Foto por: Fotógrafo 1" href="{{site.baseurl}}/assets/img/nossa-producao/galeria/grande/13.jpg"><img src="{{site.baseurl}}/assets/img/nossa-producao/galeria/pequeno/13.jpg" /></a></li>
        <li><a target="_blank" title="<strong>Legenda 1</strong> Foto por: Fotógrafo 1" href="{{site.baseurl}}/assets/img/nossa-producao/galeria/grande/14.jpg"><img src="{{site.baseurl}}/assets/img/nossa-producao/galeria/pequeno/14.jpg" /></a></li>
        <li><a target="_blank" title="<strong>Legenda 1</strong> Foto por: Fotógrafo 1" href="{{site.baseurl}}/assets/img/nossa-producao/galeria/grande/15.jpg"><img src="{{site.baseurl}}/assets/img/nossa-producao/galeria/pequeno/15.jpg" /></a></li>
        <li><a target="_blank" title="<strong>Legenda 1</strong> Foto por: Fotógrafo 1" href="{{site.baseurl}}/assets/img/nossa-producao/galeria/grande/16.jpg"><img src="{{site.baseurl}}/assets/img/nossa-producao/galeria/pequeno/16.jpg" /></a></li>
        
      </ul>
      <a data-direction="-1" href="#" class="arrow right"></a>
    </div>

  </div>
</div>
