<div class="content">
  <div id="text">
    <h3>Assentamentos pelo Brasil</h3>
    <p>O assentamento é um espaço para o conjunto de famílias camponesas viverem, trabalhar e produzir, dando uma função social a terra e garantindo um futuro melhor à população. A vida no assentamento garante às famílias direitos sociais que não são garantidos a todo o povo brasileiro, como casa, escola e comida.</p>
    <p>O impacto da criação de um assentamento marca a vida de um município, tanto do ponto de vista social como econômico. Em primeiro lugar, a terra ganha uma função social. Em segundo lugar, um conjunto de famílias ganha instrumentos para a sua sobrevivência. Depois de um período, constroem a casa, conquistam a escola e começam a produzir. A produção garante o abastecimento de alimentos aos moradores das pequenas cidades e gera renda às famílias assentadas.</p>
    <p>Buscamos, em cada assentamento, desenvolver uma mentalidade e uma atitude de Soberania Alimentar, compreendendo que a nossa função social é produzir alimentos, sendo esta a nossa primeira tarefa histórica, eliminando a fome do meio das famílias camponesas.</p>
  </div>

  <div id="gallery">
    <div id="background"></div>
    <div class="swiper-container gallery-top">
        <div class="swiper-wrapper">
            <div class="swiper-slide contain" style="background-image:url({{site.baseurl}}/assets/img/nossa-producao/galeria/grande/01.jpg)"></div>
            <div class="swiper-slide" style="background-image:url({{site.baseurl}}/assets/img/nossa-producao/galeria/grande/02.jpg)"></div>
            <div class="swiper-slide" style="background-image:url({{site.baseurl}}/assets/img/nossa-producao/galeria/grande/03.jpg)"></div>
            <div class="swiper-slide" style="background-image:url({{site.baseurl}}/assets/img/nossa-producao/galeria/grande/04.jpg)"></div>
            <div class="swiper-slide" style="background-image:url({{site.baseurl}}/assets/img/nossa-producao/galeria/grande/05.jpg)"></div>
            <div class="swiper-slide" style="background-image:url({{site.baseurl}}/assets/img/nossa-producao/galeria/grande/06.jpg)"></div>
            <div class="swiper-slide" style="background-image:url({{site.baseurl}}/assets/img/nossa-producao/galeria/grande/07.jpg)"></div>
            <div class="swiper-slide contain" style="background-image:url({{site.baseurl}}/assets/img/nossa-producao/galeria/grande/08.jpg)"></div>
            <div class="swiper-slide" style="background-image:url({{site.baseurl}}/assets/img/nossa-producao/galeria/grande/09.jpg)"></div>
            <div class="swiper-slide" style="background-image:url({{site.baseurl}}/assets/img/nossa-producao/galeria/grande/10.jpg)"></div>
            <div class="swiper-slide" style="background-image:url({{site.baseurl}}/assets/img/nossa-producao/galeria/grande/11.jpg)"></div>
            <div class="swiper-slide" style="background-image:url({{site.baseurl}}/assets/img/nossa-producao/galeria/grande/12.jpg)"></div>
            <div class="swiper-slide" style="background-image:url({{site.baseurl}}/assets/img/nossa-producao/galeria/grande/13.jpg)"></div>
            <div class="swiper-slide" style="background-image:url({{site.baseurl}}/assets/img/nossa-producao/galeria/grande/14.jpg)"></div>
            <div class="swiper-slide" style="background-image:url({{site.baseurl}}/assets/img/nossa-producao/galeria/grande/15.jpg)"></div>
            <div class="swiper-slide" style="background-image:url({{site.baseurl}}/assets/img/nossa-producao/galeria/grande/16.jpg)"></div>
        </div>
        <!-- Add Arrows -->
        <div class="swiper-button-next swiper-button-white"></div>
        <div class="swiper-button-prev swiper-button-white"></div>
    </div>
    <div class="swiper-container gallery-thumbs">
      <div class="swiper-wrapper">
            <div class="swiper-slide" style="background-image:url({{site.baseurl}}/assets/img/nossa-producao/galeria/grande/01.jpg)"></div>
            <div class="swiper-slide" style="background-image:url({{site.baseurl}}/assets/img/nossa-producao/galeria/grande/02.jpg)"></div>
            <div class="swiper-slide" style="background-image:url({{site.baseurl}}/assets/img/nossa-producao/galeria/grande/03.jpg)"></div>
            <div class="swiper-slide" style="background-image:url({{site.baseurl}}/assets/img/nossa-producao/galeria/grande/04.jpg)"></div>
            <div class="swiper-slide" style="background-image:url({{site.baseurl}}/assets/img/nossa-producao/galeria/grande/05.jpg)"></div>
            <div class="swiper-slide" style="background-image:url({{site.baseurl}}/assets/img/nossa-producao/galeria/grande/06.jpg)"></div>
            <div class="swiper-slide" style="background-image:url({{site.baseurl}}/assets/img/nossa-producao/galeria/grande/07.jpg)"></div>
            <div class="swiper-slide" style="background-image:url({{site.baseurl}}/assets/img/nossa-producao/galeria/grande/08.jpg)"></div>
            <div class="swiper-slide" style="background-image:url({{site.baseurl}}/assets/img/nossa-producao/galeria/grande/09.jpg)"></div>
            <div class="swiper-slide" style="background-image:url({{site.baseurl}}/assets/img/nossa-producao/galeria/grande/10.jpg)"></div>
            <div class="swiper-slide" style="background-image:url({{site.baseurl}}/assets/img/nossa-producao/galeria/grande/11.jpg)"></div>
            <div class="swiper-slide" style="background-image:url({{site.baseurl}}/assets/img/nossa-producao/galeria/grande/12.jpg)"></div>
            <div class="swiper-slide" style="background-image:url({{site.baseurl}}/assets/img/nossa-producao/galeria/grande/13.jpg)"></div>
            <div class="swiper-slide" style="background-image:url({{site.baseurl}}/assets/img/nossa-producao/galeria/grande/14.jpg)"></div>
            <div class="swiper-slide" style="background-image:url({{site.baseurl}}/assets/img/nossa-producao/galeria/grande/15.jpg)"></div>
            <div class="swiper-slide" style="background-image:url({{site.baseurl}}/assets/img/nossa-producao/galeria/grande/16.jpg)"></div>
        </div>
    </div>
  </div>

</div>
