@import "spinner";
@import "variables";

.ask-us {
    padding: 10px;

    @include fill-parent;
    background-color: $mst-green;
    position: relative;

    .content {
        @include outer-container;
        padding: 20px 0;
        margin: 0 auto;
        @include media($desktop){
            padding-bottom: 0;
            padding-top: 42px;
        }
    }
    .loading {
        width: 45px;
        margin: 0 auto;
        display: none;
        &.show {
            display: block;
        }
        .spinner {
            @extend .spinner-default;
        }
    }
    p.message {
        background-color: orange;
        position: relative;
        color: white;
        list-style: none;
        text-align: center;
        color: #fff;
        font-size: 14px;
        opacity: 0;
        padding: 8px;
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
        height: 0;
        @include transform(translate(0, -20px));
        @include transition(transform 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275));

        &.show {
            opacity: 1;
            height: 33px;
            @include transform(translate(0, -5px));
        }
        &.error {
            color: white;
            background-color: $mst-red;
            position: absolute;
            top: 0px;
            height: 24px;
            padding-top: 0px;
        }
        &.success {
            position: absolute;
            top: 0px;
            height: 24px;
            padding-top: 0px;
            background-color: #fff;
            color: $mst-green;
        }
    }

    form {
        display: none;
        @include fill-parent;
        &.show {
            display: block;
        }
        label {
            font-weight: 600;
            color: #fff;
            font-style: italic;
            font-size: 29px;
            display: block;
            margin-bottom: 10px;

            @include media($desktop){
              @include span-columns(3);
            }
        }
        div.form-input {
            @include media($desktop){
              &.email {
                  @include span-columns(3);
              }
              &.question {
                  @include span-columns(4);
              }
            }
        }
        input {
            font-style: italic;
            color: #888888;
            padding: 13px;
            border: solid 1px #fff;
            border-radius: 5px;
            font-size: 15px;
            z-index: 999;
            position: relative;
            width: 100%;
            &[type="submit"] {
                border: solid 1px #ebebeb;
                color: #fff;
                background-color: $mst-red;
                font-style: normal;

                @include media($desktop){
                  @include span-columns(2);
                  @include omega;
                }
            }
        }
    }
}
