@import "home/recent";
@import "home/featured-news";
@import "home/featured-banner";
@import "home/cover";
@import "home/carousel";
@import "home/tv-mst";
@import "home/interviews";
@import "home/banners";
@import "home/newspaper";
@import "home/facebook";
@import "home/articles";
@import "home/special-stories";

body > main.home {
  @include default-figure-images();
}

body > main.home > section.row {
  clear: both;
  display: block;
  padding-bottom: 15px;
  overflow: auto;

  @media(min-width: $screen-sm) {
    padding-top: 15px;
    border-top: $border-flat;
  }
}

body > main.home > section.row.four {
  @include outer-container;
  max-width: 100%;

  .newspaper {
    @include span-columns(4);
  }
  .facebook {
    @include span-columns(5);

    & * {
     width: 100% !important;
    }
  }
  .banners {
    @include span-columns(3);
  }
}
