@import "home/recent";
@import "home/featured-news";
@import "home/featured-banner";
@import "home/cover";
@import "home/carousel";
@import "home/tv-mst";
@import "home/interviews";
@import "home/banners";
@import "home/newspaper";
@import "home/facebook";
@import "home/articles";
@import "home/special-stories";

body > main.home {
  @include default-figure-images();
}

body > main.home > section.row {
  padding-bottom: 15px;
  @include outer-container;
  max-width: 100%;

  section {
    border-top: 2px solid;
    padding-top: 5px;
  }

  @include media($screen-sm) {
    padding-top: 15px;
    border-top: $border-flat;

    section {
      border-top: none;
      padding-top: 0;
    }
  }
}

@include media($screen-sm) {
  //section four
  .newspaper {
    @include span-columns(4);
  }
  .facebook {
    @include span-columns(4);

    & * {
     width: 100% !important;
    }
  }
  .twitter {
    @include span-columns(4);
  }

  //section three
  .articles {
    @include span-columns(8);
  }
  .interviews {
    @include span-columns(4);
  }

  //section two
  .tv-mst {
    @include span-columns(8);
  }
  .special-stories {
    @include span-columns(4);
  }

  //section one
  .featured-news {
    @include span-columns(8);

    article {
      @include span-columns(4 of 8);
    }
  }
  .featured-news-large {
    @include span-columns(12);

    article {
      @include span-columns(4 of 12);
    }
  }
  .featured-banner {
    @include span-columns(4);
  }
}
