@mixin default-figure-images(){
  figure {
    margin: 0;
    max-width: 370px;
    border-radius: 3px;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.125);
    overflow: hidden;

    iframe {
      width: 100%;
      height: 190px;
    }
  }

  img {
    vertical-align: middle;
  }
}
@mixin default-section-mobile(){
  clear: both;
  display: inline-block; 
  border-top: 1px solid;

  ul {

    li {
      float: left;
      font-weight: bold;
      font-size: 0.9em;
      padding: 2px 0;
      padding-right: 10px;

      h1 {
        font-size: 1.1em;
        line-height: 1.3em;
        margin-bottom: 3px;
      }
      
      p {
       font-weight: normal;
       line-height: 1.1em;
      }

      img {
        display: block;
      }
    }
  }
}
