.spinner-default{
  $offset: 187;
  $duration: 1.4s;

  @include animation(rotator $duration linear infinite);
  .path{
    stroke-dasharray: $offset;
    stroke-dashoffset: 0;
    transform-origin: center;
    stroke: #fff;
    @include animation(dash $duration ease-in-out infinite)
  }

  @include keyframes(rotator) {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(270deg); }
  }

  @include keyframes(dash) {
   0% { stroke-dashoffset: $offset; }
   50% {
     stroke-dashoffset: 1;
     transform:rotate(135deg);
   }
   100% {
     stroke-dashoffset: $offset;
     transform:rotate(450deg);
   }
  }
}
