.spinner-default{
  $offset: 187;
  $duration: 1.4s;

  animation-name: rotator;
  animation-duration: $duration;
  animation-direction: linear;
  animation-iteration-count: infinite;
  .path{
    stroke-dasharray: $offset;
    stroke-dashoffset: 0;
    transform-origin: center;
    stroke: #fff;
    animation-name: dash;
    animation-duration: $duration;
    animation-direction: ease-in-out;
    animation-iteration-count: infinite;
  }

  @keyframes rotator {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(270deg); }
  }

  @keyframes dash {
   0% { stroke-dashoffset: $offset; }
   50% {
     stroke-dashoffset: 1;
     transform:rotate(135deg);
   }
   100% {
     stroke-dashoffset: $offset;
     transform:rotate(450deg);
   }
  }
}
