span.tag {
  background-color: $mstgreen;
  padding: .2em .6em .3em;
  font-size: 75%;
  font-weight: bold;
  line-height: 1;
  color: #ffffff;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  border-radius: .25em;
  
  & + span {
    margin-right: 0.4em;
  }
}


