---
layout: default
title: Educação
styles: ["education.css", "swiper.min.css", "latest-news.css"]
scripts: ["velocity.min.js", "about-us/ask-form.js", "gallery.js", "swiper.jquery.min.js"]
---

<main id="education">
  <div id="container">
    <section id="about">
      {% include education/about.html %}
    </section>

    <section id="statistics">
      {% include education/statistics.html %}
    </section>

    <section id="itinerant-schools">
      {% include education/itinerant-schools.html %}
    </section>

    <section id="news" class="latest-news">
      {% include education/news.html %}
    </section>
  </div>

  <section class="ask-us">
    {% include about-us/ask-us.html %}
  </section>
</main>
