---
layout: white_page
styles: ["circuito-de-arte.css", "tabs.css", "justifiedGallery.min.css"]
scripts: ["circuito-de-arte.js", "feira/jflickrfeed.min.js"]
title: "Circuito Mineiro de Arte e Cultura da Reforma Agrária"
description: "Artes e Cultura da Reforma Agrária."
images_hd: "http://farm5.staticflickr.com/4403/36236226774_e3b28a280b_n.jpg"
external_scripts: ["//code.jquery.com/jquery-3.1.0.min.js","//cdnjs.cloudflare.com/ajax/libs/masonry/3.3.0/masonry.pkgd.min.js","//cdnjs.cloudflare.com/ajax/libs/jquery.sticky/1.0.3/jquery.sticky.min.js", "//cdnjs.cloudflare.com/ajax/libs/justifiedGallery/3.6.1/js/jquery.justifiedGallery.min.js","//cdnjs.cloudflare.com/ajax/libs/jquery.colorbox/1.6.3/jquery.colorbox-min.js"]
---
<article class="festival" itemscope itemtype="http://schema.org/Event">
  <figure class="capa" title="arte da capa do circuito">
    <meta content="/assets/img/festival/capa.png"  itemprop="image"/>
  </figure>
    <section class="informacoes">
      <header class="letreiro">
        <meta itemprop="name" content="Circuito Mineiro de Arte e Cultura da Reforma Agrária"/>
        <meta itemprop="startDate" content="2017-09-20T09:00"/>
        <meta itemprop="endDate" content="2017-11-24T20:00"/>
        <h1>
          Circuito Mineiro
        </h1>
        <h2>
          de Artes e Cultura da Reforma Agrária
        </h2>
        <h3 itemprop="location" itemscope itemtype="http://schema.org/Place">
          <meta itemprop="address name" content="Belo Horizonte - MG"/>
          02 de setembro até 26 de novembro-2017 | Minas Gerais        </h3>
      </header>
      <figure class="mostras">
        <span class="poesia">
          <a href="http://www.mst.org.br/festival-da-reforma-agraria/">
            I Mostra de Poesia
          </a>
        </span>
        <span class="musica">
          <a href="/2016/04/05/mst-realiza-festival-nacional-de-artes-e-cultura-da-reforma-agraria.html">
            II Festival de Música
          </a>
        </span>
        <span class="feira">
          + Feira da Reforma Agrária <br>
        </span>
      </figure>
      <section class="frase">
        <span>
        
        </span>
      </section>
      <section class="descricao">
        <span>
          <p>
            Alimentar a luta, cultivar a arte! Este é o lema que, a partir do dia 2 de setembro, vai conquistar sete regiões do estado e a capital no Circuito Mineiro de Arte e Cultura da Reforma Agrária, do Movimento dos Trabalhadores Rurais Sem Terra.
          </p>
        </span>
        <span>
          <p>
            Os eventos contarão com atrações como apresentações musicais, teatro, cinema, capoeira, sarau de poesia, mostras fotográficas e das. Tudo produzido por sem terras e parceiros do movimento que constroem e apoiam o projeto de Reforma Agrária Popular. Enquanto o público se diverte com as atividades artísticas, poderá se deliciar com a cozinha da roça, a culinária da melhor qualidade trazida direto dos fogões a lenha, dos fundos das casas do interior mineiro. <br>Vem conferir!
            
          </p>
        </span>
      </section><!-- informações section -->
      <section class="menu">
        <ul>
          <li>
            <a data-animation="scroll" data-offset="132"  href="#apresentacao">
              Apresentação
            </a>
          </li>
          <!-- remove <li> agenda  -->

          
          <!-- remove <li> local  -->
          <li>
            <a data-animation="scroll" data-offset="132"  href="#noticias">
              Noticias
            </a>
          </li>
          <li>
            <a data-animation="scroll" data-offset="132"  href="#fotos">
              Fotos 
            </a>
          </li>
          <!-- remove <li> Selecionados  -->

          <!-- remove <li> radio  -->
        </ul>
      </section>
    </section><!-- informações section -->
</article>
<section class="apresentacao" id="apresentacao">
  <iframe
    height="315"
    src="//www.youtube.com/embed/eNjrEXOdLNw?showinfo=0&controls=0"
    frameborder="0" allowfullscreen>
  </iframe>
</section><!-- apresentacao section -->
<!-- remove section Selecionados  -->
<!-- remove agenda section -->
<!-- remove Local/Maps  -->
<section class="noticias" id="noticias">
  {% assign posts = site.posts  | where: "special-page", "festival" %}
  <article class="container">
  {% for post in posts | limit: 8 %}
  <div class="item">
    <article class="headline">
      {% if post.images_hd and post.images_hd != '' %}
        <a href="{{ post.url }}">
          <figure style="background-image:url( {{ post | find_image: 'tiny' }} );"
              alt="imagem da capa da noticia">
          </figure>
        </a>
      {% endif %}
      <h1>
        <a href="{{ post.url }}">
          {{ post.title }}
        </a>
      </h1>
      <p class="support-line">
      {{ post.support_line }}
      </p>
    </article>
  </div> <!-- div item container -->
  {% endfor %}
  </article>
</section><!-- div noticias -->
<!-- remove section Selecionados  -->

<!-- div gallery -->
<section class="gallery" id="fotos">

</section><!-- div gallery -->
<!-- remove section radio  -->
<!-- div noticias -->
