---
layout: default
---
<main class="all-videos">
    {% for post in paginator.posts %}
        {% include headline-with-video.html support_line=false  post=post tags=true %}
    {% endfor %}

    {% if paginator.total_pages > 1 %}
      <footer class="pagination">
        <nav>
          {% if paginator.previous_page %}
            {% if paginator.page == 2 %}
              <a rel='prev' href="{{ paginator.first_page_path }}" class="previous">Anterior</a>
            {% else %}
              <a rel='prev' href="{{ paginator.previous_page_path }}" class="previous">Anterior</a>
            {% endif %}
          {% else %}
            <span class="previous">Anterior</span>
          {% endif %}
          <span class="page_number">Página {{ paginator.page }} de {{ paginator.total_pages }}</span>
          {% if paginator.next_page %}
            <a rel='next' href="{{ paginator.next_page_path }}" class="next">Próximo</a>
          {% else %}
            <span class="next">Próximo</span>
          {% endif %}
        </nav>
      </footer>
    {% endif %}
</main>
