---
layout: default
---

<main class="post">
  <article itemscope itemtype="http://schema.org/NewsArticle">
    <header>
      <span class="hidden" itemprop="articleSection"> {{ page.menu }} </span>
      {% include tag-list.html tags = page.tags %}
      <h1 itemprop="name">{{ page.title }}</h1>
      <p>{{ page.support_line  }}</p>
        <time datetime="{{ page.date }}">
          {{ page.date | pretty_date }}
        </time>
      {% include social-buttons.html article_url = page.url%}
    </header>
    {% include related-posts.html %}
   <div itemprop="articleBody">{{ content }}</div>
  </article>
  <br>{% include social-buttons.html article_url = page.url%}
  {% include read-more.html actual_post = page%}
</main>
<script type="text/javascript" src="../../../assets/js/legend.js"></script>
