{% assign campaigns = site.campaigns %}

<section class="featured-banner jscarousel" data-index="0">
  <h2 class="hat">Campanhas</h2>
  <a data-direction="-1" href="#" class='arrow-left'></a>
  <ul>
    {% for campaign in campaigns %}
      <li>
        {% assign default_image = site | extract_image_from_post_tag: campaign %}
        {% assign image = campaign | find_image: 'full_hd' %}

        <a href="{{ site.baseurl }}{{ campaign.url }}">
          <img src="{{ image }}">
        </a>
      </li>
    {% endfor %}
  </ul>
  <a data-direction="1" href="#" class='arrow-right'></a>
</section>