{% assign campaigns = site.campaigns %}
{% if campaigns.size > 0 %}
  <section class="featured-banner jscarousel" data-loop="false" data-index="0">
    <div class= 'container'>
      <a data-direction="-1" href="#" class='arrow-left'></a>
      <ul>
        {% for campaign in campaigns %}
          <li>
            <h2 class="hat">{{ campaign.hat }}</h2>

            {% assign default_image = site | extract_image_from_post_tag: campaign %}
            {% assign image = campaign | find_image: 'full_hd' %}

            <a href="{{ site.baseurl }}{{ campaign.link}}" target="{{ campaign.target }}">
              <img src="{{ image }}">
            </a>
          </li>
        {% endfor %}
      </ul>
      <a data-direction="1" href="#" class='arrow-right'></a>
    </div>
  </section>
{% endif %}
