 {% if site.lollipop.enabled %}
    <section class="lollipop">
      <span>novidade!</span>
      Acompanhe:
      <a href="{{ site.baseurl }}/{{ site.lollipop.link }}" class="lollipop" title="Link para a nova página">
        {{ site.lollipop.title  }}
      </a>
   </section>
 {% endif %}
 <section class="lollipop">
   <a
     href="{{ site.baseurl }}/2017/10/18/ja-esta-no-ar-radionovela-rosa-luxemburgo.html"
     title="Link parar radio novela rosa luxemburgo"
     >
     Confira a Rádionovela sobre a vida de Rosa Luxemburgo
   </a>
 </section>
