  <header>
    <div class="blurred-background">
      <div class="background"></div>
      <img class="foreground" src="">
    </div>

    <div id="arrow">
      <div></div>
      <div></div>
    </div>
    <div id="timeline-wrapper">
      <div class="bar"></div>
      <div class="timeline">
          {% for t in site.data.timeline %}
              {% assign css_class = '' %}

              {% if include.period == t.title %}
                   {% assign css_class = 'active' %}
              {% endif %}
              <a href="{{site.baseurl}}/nossa-historia/{{t.title}}" class="entry {{ css_class }}">{{ t.title }}</a>
          {% endfor %}
      </div>
    </div>
  </header>
